﻿<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#1a1a1a">

    <link rel="shortcut icon" href="~/images/sng_logo.png" type="image/x-icon">

    <title>Save N' Go - @ViewData["Title"]</title>



    <!-- style -->

    <link href="~/css/site/style.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- carousel -->

    <link href="~/css/site/owl.carousel.css" rel="stylesheet" type="text/css">

    <!-- responsive -->

    <link href="~/css/site/responsive.css" rel="stylesheet" type="text/css">

    <!-- font-awesome -->

    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- font-awesome -->

    <link href="~/css/animate.css" rel="stylesheet" type="text/css">

    <link href="~/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- DevExtreme themes -->
    <link rel="stylesheet" type="text/css" href="~/lib/devextreme/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/devextreme/css/dx.light.css" />


</head>

<body class="module-home" data-spy="scroll" data-target=".navbar">



    <!-- header -->

    <header role="header" class="header-top" id="headere-top">



        <div class="header-fixed-wrapper" role="header-fixed">

            <div class="container">

                <!-- hgroup -->

                <hgroup class="row">

                    <!-- logo -->

                    <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">

                        <h1>

                            <a href="#headere-top" title="Save N' Go"><img src="~/images/sng_logo_white.png" width="70" alt="Save N' Go" title="Save N' Go" /></a>

                        </h1>

                    </div>

                    <!-- logo -->
                    <!-- nav -->

                    <nav role="navigation" class="col-xs-12 col-sm-10 col-md-10 col-lg-10 navbar navbar-default">

                        <div class="navbar-header">

                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                                <span class="sr-only">Toggle navigation</span>

                                <span class="icon-bar"></span>

                                <span class="icon-bar"></span>

                                <span class="icon-bar"></span>

                            </button>

                        </div>

                        <div id="navbar" class="navbar-collapse collapse">

                            <ul class="nav navbar-nav">

                                <li class="active"><a href="#headere-top" title="Home">Inicio</a></li>

                                <li><a href="#section-one" title="Overview">Que hacemos</a></li>

                                <li><a href="#section-two" title="Features">Como lo hacemos</a></li>

                                <li><a href="#section-three" title="Pricing">Precios</a></li>

                                <!-- <li><a href="#section-four" title="Team">Equipo</a></li> -->

                                <li><a href="#section-five" title="Contact">Contacto</a></li>

                                @*<li><a title="Join Us" asp-controller="Account" asp-action="Login">Ingresa</a></li>*@

                                @*<li><a href="#section-six" title="Join Us">Ingresa</a></li>*@
                                @await Html.PartialAsync("_LoginPartial")
                            </ul>


                        </div>

                    </nav>

                    <!-- nav -->

                </hgroup>

                <!-- hgroup -->

            </div>

        </div>

        @RenderSection("Banner", required: false)



    </header>

    <!-- header -->
    <!-- main -->

    <main role="main" id=" main-wrapper">



        <!-- footer -->
        @RenderBody()

        <footer role="footer" class="footer text-center">

            <div class="container">

                <!-- socil-icons -->

                <section role="socil-icons" class="socil-icons">

                    @*<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>*@

                    <a href="https://www.facebook.com/SNG360/"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                    @*<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>*@

                    @*<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>*@

                    @*<a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>*@

                    @*<a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>*@

                </section>

                <!-- socil-icons -->
                <!-- nav -->

                <nav role="footer-nav">

                    <a href="#">Terminos de uso</a>

                    <a href="#">Políticas de privacidad</a>

                </nav>

                <!-- nav -->

                <p class="copy">&copy; @DateTime.Now.Year. Todos los derechos reservados.</p>

            </div>

        </footer>

        <!-- footer -->



    </main>

    <!-- main -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="~/js/site/jquery.min.js" type="text/javascript"></script>

    <!-- A DevExtreme library -->
    <script type="text/javascript" src="~/lib/devextreme/js/dx.all.js"></script>

    <script src="~/js/site/parallax.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        $('.parallax-window').parallax({});

    </script>

    <script src="~/js/site/main.js" type="text/javascript"></script>

    <script src="~/js/site/owl.carousel.js" type="text/javascript"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script src="~/js/site/maps.js" type="text/javascript"></script>

    <script type="text/javascript" src="~/js/site/jquery.mb.YTPlayer.js"></script>

    <script type="text/javascript" src="~/js/site/video.js"></script>

    <script src="~/js/site/custom.js" type="text/javascript"></script>

    <script src="~/lib/magnific-popup/dist/jquery.magnific-popup.min.js" type="text/javascript"></script>

    <script src="~/js/site/jquery.contact.js" type="text/javascript"></script>

    <script src="~/js/site/bootstrap.min.js" type="text/javascript"></script>

    <script src="~/js/site/html5shiv.min.js" type="text/javascript"></script>


    @RenderSection("Scripts", required: false)
</body>

</html>