﻿<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Save N' Go | Administración</title>
    <link runat="server" rel="shortcut icon" href="~/images/sng_logo.png" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/images/sng_logo.png" type="image/ico" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="~/css/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />
        <link href="/css/sng.css" rel="stylesheet" />
        <link href="/css/sng-hovers.css" rel="stylesheet" />
        <link href="~/css/hover.css" rel="stylesheet" />
        <link href="~/css/animate.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />

        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/Ionicons/css/ionicons.css" />
        <link rel="stylesheet" href="~/css/AdminLTE.css" />
        <link rel="stylesheet" href="~/css/skins/skin-blue.css" />
        <link rel="stylesheet" href="~/css/site.css" />


        <!-- DevExtreme themes -->
        <link rel="stylesheet" type="text/css" href="~/lib/devextreme/css/dx.common.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/devextreme/css/dx.light.css" />

        <link href="~/css/fontawesome-iconpicker.min.css" rel="stylesheet" />

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="~/css/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />
        <link href="/css/sng.css" rel="stylesheet" />
        <link href="/css/sng-hovers.css" rel="stylesheet" />
        <link href="~/css/hover.css" rel="stylesheet" />
        <link href="~/css/animate.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />

        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/Ionicons/css/ionicons.css" />
        <link rel="stylesheet" href="~/css/AdminLTE.css" />
        <link rel="stylesheet" href="~/css/skins/skin-blue.css" />
        <link rel="stylesheet" href="~/css/site.css" />


        <!-- DevExtreme themes -->
        <link rel="stylesheet" type="text/css" href="~/lib/devextreme/css/dx.common.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/devextreme/css/dx.light.css" />

        <link href="~/css/fontawesome-iconpicker.min.css" rel="stylesheet" />
    </environment>
    <environment names="Development">


        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/js/site/jQuery.weightMask.min.js" asp-append-version="true"></script>
        <script src="~/js/site/jquery.inputmask.bundle.min.js" asp-append-version="true"></script>
        <script src="~/js/site/jquery.formValid.min.js" asp-append-version="true"></script>
        <script src="~/js/site/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/js/site/additional-methods.min.js" asp-append-version="true"></script>


        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/app.js" asp-append-version="true"></script>
        <script src="~/lib/PACE/pace.js" asp-append-version="true"></script>

        <script src="~/js/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
        <script src="~/js/fontawesome-all.js"></script>
        <script src="~/js/fontawesome-iconpicker.js"></script>
        <script src="~/js/fontawesome-iconpicker.min.js"></script>

        <script src="~/js/Comerce.js" asp-append-version="true"></script>
        <script src="~/js/Category.js" asp-append-version="true"></script>
        <script src="~/js/Cupon.js" asp-append-version="true"></script>
        <script src="~/js/Owner.js" asp-append-version="true"></script>
        <script src="~/js/Product.js" asp-append-version="true"></script>
        <script src="~/js/Promotion.js" asp-append-version="true"></script>
        <script src="~/js/Vacant.js" asp-append-version="true"></script>
        <script src="~/js/Royalty.js" asp-append-version="true"></script>
        <script src="~/js/Comment.js" asp-append-version="true"></script>
        <script src="~/js/Activities.js" asp-append-version="true"></script>
        <script src="~/js/User.js" asp-append-version="true"></script>
        <script src="~/js/Chats.js" asp-append-version="true"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>

        <!-- Reference the JSZip script if you need client-side exporting -->
        <script type="text/javascript" src="~/lib/jszip/dist/jszip.js"></script>

        <!-- A DevExtreme library -->
        <script type="text/javascript" src="~/lib/devextreme/js/dx.all.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/js/site/jQuery.weightMask.min.js" asp-append-version="true"></script>
        <script src="~/js/site/jquery.inputmask.bundle.min.js" asp-append-version="true"></script>
        <script src="~/js/site/jquery.formValid.min.js" asp-append-version="true"></script>
        <script src="~/js/site/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/js/site/additional-methods.min.js" asp-append-version="true"></script>


        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/app.js" asp-append-version="true"></script>
        <script src="~/lib/PACE/pace.js" asp-append-version="true"></script>

        <script src="~/js/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
        <script src="~/js/fontawesome-all.js"></script>
        <script src="~/js/fontawesome-iconpicker.js"></script>
        <script src="~/js/fontawesome-iconpicker.min.js"></script>

        <script src="~/js/Comerce.js" asp-append-version="true"></script>
        <script src="~/js/Category.js" asp-append-version="true"></script>
        <script src="~/js/Cupon.js" asp-append-version="true"></script>
        <script src="~/js/Owner.js" asp-append-version="true"></script>
        <script src="~/js/Product.js" asp-append-version="true"></script>
        <script src="~/js/Promotion.js" asp-append-version="true"></script>
        <script src="~/js/Vacant.js" asp-append-version="true"></script>
        <script src="~/js/Royalty.js" asp-append-version="true"></script>
        <script src="~/js/Comment.js" asp-append-version="true"></script>
        <script src="~/js/Activities.js" asp-append-version="true"></script>
        <script src="~/js/User.js" asp-append-version="true"></script>
        <script src="~/js/Chats.js" asp-append-version="true"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>

        <!-- Reference the JSZip script if you need client-side exporting -->
        <script type="text/javascript" src="~/lib/jszip/dist/jszip.js"></script>

        <!-- A DevExtreme library -->
        <script type="text/javascript" src="~/lib/devextreme/js/dx.all.js"></script>
    </environment>
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
    <div class="wrapper">
        <!-- Main Header -->
        @await Component.InvokeAsync("Header")
        <!-- Left side column. contains the logo and sidebar -->
        @await Component.InvokeAsync("Sidebar")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                @await Component.InvokeAsync("PageHeader")
                @await Component.InvokeAsync("Breadcrumb")
                @*<br />*@
                @await Component.InvokeAsync("PageAlert")
            </section>
            <!-- Main content -->
            <section class="content" style="min-height: 250px;
                                            padding: 0px;
                                            margin-right: auto;
                                            margin-left: auto;
                                            padding-left: 15px;
                                            padding-right: 15px;">
                <!-- Your Page Content Here -->
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        @await Component.InvokeAsync("Footer")
        <!-- Control Sidebar -->
        @await Component.InvokeAsync("ControlSidebar")
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
    Both of these plugins are recommended to enhance the
    user experience. Slimscroll is required when using the
    fixed layout. -->
    @RenderSection("scripts", required: false)
    <script>
        (function () {
            if (Boolean(sessionStorage.getItem('sidebar-toggle-collapsed'))) {
                var body = document.getElementsByTagName('body')[0];
                body.className = body.className + ' sidebar-collapse';
            }
        })();

        $('.sidebar-toggle').click(function (event) {
            event.preventDefault();
            if (Boolean(sessionStorage.getItem('sidebar-toggle-collapsed'))) {
                sessionStorage.setItem('sidebar-toggle-collapsed', '');
            } else {
                sessionStorage.setItem('sidebar-toggle-collapsed', '1');
            }
        });
    </script>
</body>
</html>
