@using Microsoft.AspNetCore.Identity
@using sng_web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
    @{ 
        var userId = UserManager.GetUserId(User);
    }
@if (SignInManager.IsSignedIn(User))
{

    <li>
        <a asp-area="" asp-controller="Account" asp-action="Profile" asp-route-id="@userId" title="Manage">Hola @User.GetUserProperty(CustomClaimTypes.GivenName)!</a>
    </li>
    <li>
        @if (User.IsInRole("Admin"))
        {
            <a asp-controller="Comerces">Administrar</a>
        }
        else
        {
           <a asp-controller="Comerces" asp-action="Details" asp-route-id="@User.GetUserProperty(CustomClaimTypes.ComerceId)">Administrar</a>
            
        }

    </li>
    <li>
        <a href='javascript:void(0)' onclick='$("#logoutForm").submit(); return false;'>Salir</a>

    </li>
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right"></form>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Comerces" asp-action="Register">Registro</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Ingresa</a></li>
    </ul>
}
