﻿@{
    ViewData["Title"] = "Access denied";
}
<style>
    .error-page {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
</style>

<section class="content ">
    <div class="col-sm-offset-3 col-sm-6">
        <div class="error-page">
            <div class="col-sm-12">
                <h2 class="headline text-yellow"> Acceso denegado</h2>
            </div>

            <div class="col-sm-12">
                <div class="error-content">
                    <h3><i class="fa fa-warning text-yellow"></i> ¡Oops! Acceso restringido.</h3>
                    <p>
                        No tiene permisos de acceso a esta sección . <br />
                        <a  href="javascript:history.back(1)">regresar a su sitio de administracion</a> o intente nuevamente con otro usuario .
                    </p>
                </div>
            </div>
            <!-- /.error-content -->
        </div>
    </div>
    <!-- /.error-page -->
</section>
