﻿@model ExternalLoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Registro";
}
<br /><br /><br />
<h2>@ViewData["Title"]</h2>
<h4>Asociar tu cuenta de @ViewData["LoginProvider"].</h4>
<hr />

<p class="text-info">
    Has sido autorizado exitosamente con tu cuenta de <strong>@ViewData["LoginProvider"]</strong>.
    Por favor revisa tu cuenta de correo y luego da click en el boton de confirmar para finalizar.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
