﻿@model IEnumerable<sng_web.Models.ApplicationUser>

@{
    ViewData["Title"] = "Usuarios";
}
<style>
    tr:hover{
        cursor: pointer;
    }
</style>
<div class="container">
    <h2 class="uk-heading-bullet">Usuarios <small>Registros</small></h2>
    <a class="uk-button uk-button-small uk-button-primary" asp-action="Create"> <span uk-icon="icon: plus"></span>Nuevo</a>
    <hr />
</div>

<div class="container">
    <div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Usuarios del sistema</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="uk-table uk-table-striped uk-table-small uk-table-responsive uk-table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AvatarURL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateRegistered)
                    </th>
                    <th>
                        Usuario
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr onClick='javascript:window.location.href="/Account/Edit/?id=@item.Id";'>
                        <td>
                            <img src="@item.AvatarURL" alt="ui" width="50" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateRegistered)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td width="200px">
                            <a asp-action="Edit" asp-route-id="@item.Id" ><span class="uk-margin-small-right" uk-icon="pencil"></span></a> @*|
                            <a asp-controller="Account" asp-action="Profile" asp-route-id="@item.Id"><span class="uk-margin-small-right" uk-icon="users"> </span></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id"><span class="uk-margin-small-right" uk-icon="trash"> </span></a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>
</div>





