﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Confirmación de restablicimiento de contraseña";
}

<h2>@ViewData["Title"]</h2>
<p>
    Su contrseña ha sido modificada. Porfavor <a asp-action="Login">haga click aqui para iniciar sesión</a>.
</p>
