﻿@model sng_web.Models.TasaCambio

@{
    ViewData["Title"] = "Delete";
}


<div class="container">
    <h2 class="uk-heading-bullet">Eliminar <small>Tasa de Cambio</small></h2>
    <hr />
</div>

<div class="row">

    <div class="container">
        <div class="uk-card-default uk-card-hover">
            <div class="uk-section uk-section-default ">

                <div class="uk-card-body expand">

                    <div class="row">
                        <div class="container">
                            <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                                <div>
                                    <dl class="uk-description-list">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Nombre_Banco)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Nombre_Banco)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Compra)
                                        </dt>
                                        <dd>
                                            C$ @Html.DisplayFor(model => model.Compra)
                                        </dd>
                                        
                                    </dl>
                                </div>
                                <div>
                                    <dl class="uk-description-list">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Fecha)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Fecha)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Venta)
                                        </dt>
                                        <dd>
                                           C$  @Html.DisplayFor(model => model.Venta)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="container">
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="ID"/>
                                <div class="form-group">
                                    <a asp-action="Index" class="uk-button uk-button-default uk-button-small">
                                        <span uk-icon="icon: chevron-left"></span>
                                        Regresar
                                    </a>  |
                                    <button class="uk-button uk-button-danger uk-button-small" type="submit"><span uk-icon="icon: trash"></span> Eliminar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
</div>
