﻿@model sng_web.Models.Cupon

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h2 class="uk-heading-bullet">Nuevo <small>Cupón</small></h2>
    <hr />
</div>
<div class="container">
    <div class="uk-card-default uk-card-hover">
        <div class="uk-section uk-section-default ">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="uk-container">
                    <h3>Agregar Nuevo Registro</h3>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                                <div>
                                    <div class="form-group">
                                        <label asp-for="Descount" class="control-label"></label>
                                        <div class="input-group">
                                            <input asp-for="Descount" id="Descount" class="form-control" />
                                            <span class="input-group-addon">%</span>
                                        </div>
                                        <span asp-validation-for="Descount" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Validity" class="control-label"></label>
                                        <div class="input-group">
                                            <input asp-for="Validity" type="number" min="0" max="99999" class="form-control" />
                                            <span class="input-group-addon">Diaz</span>
                                        </div>
                                        <span asp-validation-for="Validity" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="MoneyValue" class="control-label"></label>
                                        <div class="input-group">
                                            <span class="input-group-addon">C$</span>
                                            <input asp-for="MoneyValue" class="form-control" />
                                        </div>
                                        <span asp-validation-for="MoneyValue" class="text-danger"></span>
                                    </div>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <div class="form-group">
                                            <label class="control-label">Asignar Comercio</label>
                                            <select asp-for="ComerceId" class="ui fluid search dropdown" asp-items="ViewBag.ComerceId">
                                                <option value="0" disabled> -Seleccionar un Comercio- </option>
                                            </select>
                                            <span asp-validation-for="ComerceId" class="text-danger"></span>
                                        </div>
                                    }
                                </div>

                                <div>
                                    <div class="form-group">
                                        <label asp-for="CreatedAt" class="control-label"></label>
                                        <input asp-for="CreatedAt" value="@DateTime.Now" type="datetime" class="form-control" disabled/>
                                        <span asp-validation-for="CreatedAt" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="UpdatedAt" class="control-label"></label>
                                        <input asp-for="UpdatedAt" value="@DateTime.Now" type="datetime"  class="form-control" disabled/>
                                        <span asp-validation-for="UpdatedAt" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox checbox-switch switch-primary">
                                            <label>
                                                <input asp-for="isActive" /> @Html.DisplayNameFor(model => model.isActive)
                                                <span></span>
                                            </label>
                                            <label class="pull-right">
                                                <input asp-for="IsChanged" /> @Html.DisplayNameFor(model => model.IsChanged)
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <br />
                        </div>


                    </div>
                    <hr />
                    <div class="row">
                        <div class="container">
                            <div class="form-group">
                                <a asp-action="Index" class="uk-button uk-button-default uk-button-small">
                                    <span uk-icon="icon: chevron-left"></span>
                                    Regresar
                                </a>  |
                                <button class="uk-button uk-button-primary uk-button-small" type="submit"><span uk-icon="icon: check"></span> Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        setPercentField($("#Descount"));

    </script>

}
