﻿@model sng_web.Models.Cupon

@{
    ViewData["Title"] = "Delete";
    var percent = Model.Descount * 100;
}
<div class="container">
    <h2 class="uk-heading-bullet">Eliminar <small>Cupón</small></h2>
    <hr />
</div>

<div class="container">
    <div class="row uk-card uk-card-default uk-card-hover">
        <div class="container" style="margin: 0px">
            <div class="col-sm-8">

                <div class="uk-card-body">
                    <h3 class="uk-card-title">Cupón de descuento <small>@percent %</small></h3>

                    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                        <div>
                            <dl class="uk-description-list ">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Descount)
                                </dt>
                                <dd>
                                    @percent %
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.MoneyValue)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.MoneyValue)
                                </dd>
                            </dl>
                        </div>

                        <div>
                            <dl class="uk-description-list ">
                                <dt>
                                    @Html.DisplayNameFor(model => model.CreatedAt)
                                </dt>
                                <dd id="CreatedAt">
                                    @Html.DisplayFor(model => model.CreatedAt)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.UpdatedAt)
                                </dt>
                                <dd id="UpdatedAt">
                                    @Html.DisplayFor(model => model.UpdatedAt)
                                </dd>

                            </dl>
                        </div>

                        <div>
                            <dl class="uk-description-list">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Validity)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Validity) diaz
                                </dd>
                                <dt>
                                    <span class="pull-left">
                                        @Html.DisplayNameFor(model => model.isActive)
                                    </span>
                                    <span class="pull-right">
                                        @Html.DisplayNameFor(model => model.IsChanged)
                                    </span>

                                </dt>
                                <dd>
                                    <div class="form-group">
                                        <div class="checkbox checbox-switch switch-primary">
                                            <label class="pull-left">
                                                <input type="checkbox" asp-for="isActive" value="@Model.isActive" checked="@Model.isActive" disabled />
                                                <span></span>
                                            </label>
                                            <label class="pull-right">
                                                <input asp-for="IsChanged" disabled />
                                                <span></span>
                                            </label>
                                        </div><br />
                                    </div>
                                </dd>
                            </dl>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="margin: 0px">
            <hr />
            <form asp-action="Delete">
                <input type="hidden" asp-for="CuponId" />
                <input type="hidden" value="@ViewBag.Refer" name="Refer" />
                <a href="@ViewBag.Refer" class="uk-button uk-button-default uk-button-small"><span uk-icon="icon: chevron-left"></span> Regresar</a>  |
                <button type="submit" class="uk-button uk-button-danger uk-button-small"><span uk-icon="icon: trash"></span>Eliminar</button>
            </form>
        </div><br /><br />
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var CreatedAt = $("#CreatedAt").html();
        $("#CreatedAt").html(dateFormat(CreatedAt));
        var UpdatedAt = $("#UpdatedAt").html();
        $("#UpdatedAt").html(dateFormat(UpdatedAt));

    </script>
}
