﻿@model sng_web.Models.Royalty

@{
    ViewData["Title"] = "Delete";
}
<div class="container">
    <h2 class="uk-heading-bullet">Eliminar <small>Regalia</small></h2>
    <hr />
</div>
<div class="container">
    <div class="container">
        <div class="row uk-card uk-card-default uk-card-hover">
            <div class="container" style="margin: 0px">
                <div class="col-sm-8">

                    <div class="uk-card-body">
                        <h3 class="uk-card-title">@Html.DisplayFor(model => model.Name)</h3>

                        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                            <div>
                                <dl class="uk-description-list ">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Description)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Concept)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Concept)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.UpdatedAt)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.UpdatedAt)
                                    </dd>
                                </dl>
                            </div>

                            <div>
                                <dl class="uk-description-list ">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Value)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Value)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Count)
                                    </dt>
                                    <dd>
                                        <span>@Html.DisplayFor(model => model.Count) Unidades</span>
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.CreatedAt)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.CreatedAt)
                                        
                                    </dd>

                                </dl>
                            </div>

                            <div>
                                <dl class="uk-description-list">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Comerce.Name)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Comerce.Name)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.IsActive)
                                    </dt>
                                    <dd class="checkbox checbox-switch switch-primary">
                                        <label>
                                            <input disabled /> @Html.DisplayFor(model => model.IsActive)
                                            <span></span>
                                        </label>

                                    </dd>
                                </dl>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



            <div class="container" style="margin: 0px">
                <hr />
                <input type="hidden" value="@ViewBag.Refer" name="Refer" />
                <a href="@ViewBag.Refer" class="uk-button uk-button-default uk-button-small"><span uk-icon="icon: chevron-left"></span> Regresar</a>  |
                <a href="#modal-center" uk-toggle class="uk-button uk-button-danger uk-button-small"><span uk-icon="icon: trash"></span>Eliminar</a>
            </div><br /><br />
        </div>

        <div class="row">
            <div id="modal-center" class="uk-flex-top" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <h2 class="uk-modal-title">Confirmar...</h2>
                    <button class="uk-modal-close-default" type="button" uk-close></button>

                    <h4 class="uk-text-center">¿Estas seguro de eliminar el registro?</h4>
                    <div class="uk-text-right">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="RoyaltyId" />
                            <input type="hidden" value="@ViewBag.Refer" name="Refer"/>
                            <button class="uk-button uk-button-default uk-button-small uk-modal-close" type="button"><span uk-icon="icon: ban"></span> Cancel</button> |
                            <button type="submit" class="uk-button uk-button-danger uk-button-small"><span uk-icon="icon: trash"></span>Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    </script>
}