﻿@model sng_web.Models.Royalty

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h2 class="uk-heading-bullet">Editar <small>Regalia</small></h2>
    <hr />
</div>
<div class="row">
    <div class="container">
        <div class="">
            <div class="uk-card-default uk-card-hover">
                <div class="uk-section uk-section-default ">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="RoyaltyId" />

                        <div class="uk-container">
                            <h3>Reemplazar los campos a editar</h3>
                            <div class="row">
                                <div class="col-sm-12 col-md-8">
                                    <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                                        <div>
                                            <div class="form-group">
                                                <label asp-for="Name" class="control-label"></label>
                                                <input asp-for="Name" class="form-control" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Value" class="control-label"></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><strong>C$</strong></span>
                                                    <input asp-for="Value" class="form-control" type="number" max="99999" min="0" />
                                                </div>
                                                <span asp-validation-for="Value" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Count" class="control-label"></label>
                                                <div class="input-group">
                                                    <input asp-for="Count" class="form-control" type="number" max="99999" min="0" />
                                                    <span class="input-group-addon"><strong>Und</strong></span>
                                                </div>
                                                <span asp-validation-for="Count" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Concept" class="control-label"></label>
                                                <textarea asp-for="Concept" class="form-control" rows="4" cols="20"></textarea>
                                                <span asp-validation-for="Concept" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox checbox-switch switch-primary">
                                                    <label>
                                                        <input value="true" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox checbox-switch switch-primary">
                                                    <label>
                                                        <input value="true" asp-for="Delivered" /> @Html.DisplayNameFor(model => model.Delivered)
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="form-group">
                                                <label asp-for="ComerceId" class="control-label">Asignar Comercio</label>
                                                <select asp-for="ComerceId" id="ComerceIdSelect" class="ui fluid search dropdown" asp-items="ViewBag.ComerceId">
                                                    @*<option value="@Model.ComerceId" selected> @Model.Comerce.Name </option>*@
                                                    @* request from controller *@
                                                </select>
                                                <span asp-validation-for="ComerceId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="CreatedAt" class="control-label"></label>
                                                <input asp-for="CreatedAt" class="form-control" />
                                                <span asp-validation-for="CreatedAt" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="UpdatedAt" class="control-label"></label>
                                                <input asp-for="UpdatedAt" class="form-control" />
                                                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Description" class="control-label"></label>
                                                <textarea asp-for="Description" class="form-control" rows="4" cols="20"></textarea>
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="container">
                                    <div class="form-group">
                                        <input type="hidden" value="@ViewBag.Refer" name="Refer" />
                                        <a href="@ViewBag.Refer" class="uk-button uk-button-default uk-button-small">
                                            <span uk-icon="icon: chevron-left"></span>
                                            Regresar
                                        </a>  |
                                        <button class="uk-button uk-button-primary uk-button-small" type="submit"><span uk-icon="icon: check"></span> Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    </script>
}