﻿@model sng_web.Models.VacantAplication

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VacantAplication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AplicationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AplicationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UrlCurriculum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UrlCurriculum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reviewed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reviewed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Response)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Response)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vacant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vacant.Department)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VacantAplicationId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
