﻿@model sng_web.Models.VacantAplication

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h2 class="uk-heading-bullet">Aplicacion a vacante <small></small></h2>
    <hr />
</div>

<div class="row">
    <div class="container">
        <div class="">
            <div class="uk-card-default uk-card-hover">
                <div class="uk-section uk-section-default ">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="VacantAplicationId" />
                        <input type="hidden" asp-for="UserId" />
                        <div class="uk-container">
                            <h3>Detalle de la aplicación</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                                        <div>
                                            <h4>Datos del aplicante</h4>
                                            <div class="form-group">
                                                <label asp-for="Applicant" class="control-label"></label>
                                                <input asp-for="Applicant" class="form-control" readonly="@(true)"/>
                                                <span asp-validation-for="Applicant" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="ApplicantPhone" class="control-label"></label>
                                                <input asp-for="ApplicantPhone" class="form-control" readonly="@(true)"/>
                                                <span asp-validation-for="ApplicantPhone" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="ApplicantEmail" class="control-label"></label>
                                                <input asp-for="ApplicantEmail" class="form-control" readonly="@(true)"/>
                                                <span asp-validation-for="ApplicantEmail" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                @if (Model.UrlCurriculum != null)
                        {
                            <a href="@Model.UrlCurriculum">Adjunto</a>
}
                                            </div>
                                        </div>
                                        <div>
                                            <h4>Datos de la aplicación</h4>

                                            <div class="form-group">
                                                <label asp-for="AplicationDate" class="control-label"></label>
                                                <input asp-for="AplicationDate" class="form-control" readonly="@(true)"/>
                                                <span asp-validation-for="AplicationDate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="VacantId" class="control-label"></label>
                                                <select asp-for="VacantId" class="form-control" asp-items="ViewBag.VacantId" readonly="@(true)"></select>
                                                <span asp-validation-for="VacantId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Comments" class="control-label"></label>
                                                <textarea asp-for="Comments" class="form-control" multiple readonly="@(true)"></textarea>
                                                <span asp-validation-for="Comments" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="Reviewed" /> @Html.DisplayNameFor(model => model.Reviewed)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Response" class="control-label"></label>
                                <textarea asp-for="Response" class="form-control"></textarea>
                                <span asp-validation-for="Response" class="text-danger"></span>
                            </div>


                            <hr />
                            <div class="row">
                                <div class="container">
                                    <div class="form-group">
                                        <input type="hidden" value="@ViewBag.Refer" name="Refer" />
                                        <a asp-action="Index" class="uk-button uk-button-default uk-button-small">
                                            <span uk-icon="icon: chevron-left"></span>
                                            Regresar
                                        </a> |
                                        <button class="uk-button uk-button-primary uk-button-small" type="submit"><span uk-icon="icon: check"></span> Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
