﻿@model sng_web.Models.Notification

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h2 class="uk-heading-bullet">Nueva <small>Notificación</small></h2>
    <hr />
</div>


<div class="container">
    <div class="uk-card-default uk-card-hover">
        <div class="uk-section uk-section-default ">
            <form asp-action="Create" enctype="multipart/form-data" id="NotificationForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="uk-container">
                    <h3>Agregar Nueva Notificación</h3>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                                <div>
                                    <div class="form-group">
                                        <label asp-for="Tittle" class="control-label"></label>
                                        <input asp-for="Tittle" class="form-control" />
                                        <span asp-validation-for="Tittle" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Message" class="control-label"></label>
                                        <input asp-for="Message" class="form-control" />
                                        <span asp-validation-for="Message" class="text-danger"></span>
                                    </div>
                                    <div></div>
                                </div>

                                <div>
                                    <div class="form-group">
                                        <label asp-for="Model" class="control-label"></label>
                                            <select asp-for="Model" class="form-control" >
                                                <option selected></option>
                                                <option value="Comercio">Comercio</option>
                                                <option value="Producto">Producto</option>
                                                <option value="Promoción">Promoción</option>
                                            </select>
                                        <span asp-validation-for="Model" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="Comercio">Comercio</label>
                                        <select class="form-control valid" id="Comercio" name="Comercio" aria-invalid="false">
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="ModelReferenceId" class="control-label"></label>
                                        <select asp-for="ModelReferenceId" class="form-control" ></select>
                                        <span asp-validation-for="ModelReferenceId" class="text-danger"></span>
                                    </div>

                                    
                                </div>

                            </div>
                            <br />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="container">
                            <div class="form-group">
                                <a asp-action="Index" class="uk-button uk-button-default uk-button-small">
                                    <span uk-icon="icon: chevron-left"></span>
                                    Regresar
                                </a>  |
                                <button class="uk-button uk-button-primary uk-button-small" type="submit"><span uk-icon="icon: check"></span> Guardar y Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var select_model = $("#Model");
        var select_comercio = $("#Comercio");
        var select_model_ref = $("#ModelReferenceId");
        
        select_model.on('change', function() {
             console.log('seleccionando un tipo de modelo');
            var seleccion = $("#Model option:selected" ).text();
            if ( seleccion ) {
                getComerces();
            }
        });

        select_comercio.on('change', function() {
            console.log('seleccionando un comercio');
            var seleccion_model = $("#Model option:selected" ).text();
            if (seleccion_model == 'Producto') {
                getProducts();
            }
            if (seleccion_model == 'Promoción') {
                getPromotions();
            }
        });
        
        function getComerces() {
            $.ajax({
                type: "GET",
                url: "/Comerces/GetOnlyComerces",
                data: {},
                success: function (response) {
                    json_comerce = (response);
                    select_comercio.html("");
                    select_comercio.append("<option value='0' disabled>" + " -Seleccionar un Comercio- " + "</option>");

                    $.each(json_comerce, (index, value) => {
                        select_comercio.append("<option value=" + value.comerceId + ">" + value.name + "</option>");
                    });
                },
                error: function (err) {
                    console.log("Error: ");
                }
            });
        }

        function getProducts() {
            console.log('obteniendo productos');
            var ComerceId =  $("#Comercio option:selected" ).val();
            $.ajax({
                type: "GET",
                url: "/Products/GetProductsByComerce",
                data: {comerceId: ComerceId},
                success: function (response) {
                    json_comerce = (response);
                    select_model_ref.html("");
                    select_model_ref.append("<option value='0' disabled>" + " -Seleccionar un Comercio- " + "</option>");

                    $.each(json_comerce, (index, value) => {
                        select_model_ref.append("<option value=" + value.productId + ">" + value.name + "</option>");
                    });
                },
                error: function (err) {
                    console.log("Error: ");
                }
            });
        }
       
       function getPromotions() {
            console.log('obteniendo promociones');
            var ComerceId =  $("#Comercio option:selected" ).val();
            $.ajax({
                type: "GET",
                url: "/Promotions/GetPromotionsByComerce",
                data: {comerceId: ComerceId},
                success: function (response) {
                    json_comerce = (response);
                    select_model_ref.html("");
                    select_model_ref.append("<option value='0' disabled>" + " -Seleccionar un Comercio- " + "</option>");

                    $.each(json_comerce, (index, value) => {
                        select_model_ref.append("<option value=" + value.promotionId + ">" + value.name + "</option>");
                    });
                },
                error: function (err) {
                    console.log("Error: ");
                }
            });
        }
    </script>
}
