@model IEnumerable<sng_web.Models.Notification>
 
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h2 class="uk-heading-bullet" >Notificaciones</h2>
    <hr />
</div>

<div class="container">
    <div class="box">
    <div class="box-header with-border">
        <div class="pull-left">
            <div class="uk-display-inline">
                <h3 class="box-title">Listado de Notificaciones</h3>
            </div>
        </div>
        <div class="pull-right">
            <div class="uk-display-inline">
                <a class="uk-button uk-button-primary uk-button-small" asp-action="Create">
                    <span uk-icon="icon: plus"></span> Nuevo
                </a>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="uk-table uk-table-striped uk-table-small uk-table-responsive uk-table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Tittle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Message)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Model)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SentAt)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tittle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Message)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SentAt)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

