﻿@{
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@{
    ViewData["Title"] = "Save'n Go";

}
<style>
    label.error {
        color: red;
        font-weight: normal;
        font-style: italic;
        margin-left: 5px;
    }
</style>
@section Banner{
    <!-- banner Text -->

    <section class="text-center">

        <h2 class="responsive">
            Empieza ya! Haz tu empresa más Conocida en el Mundo Digital!
        </h2>

        <p>
            Únete al Nuevo Mundo Digital. Haz tu Negocio más Inteligente y
            Publicidad más fácil de acceder.
        </p>



        <a class="popup-vimeo video-button" href="https://vimeo.com/45830194"><i class="fa fa-caret-right" aria-hidden="true"></i></a>

        <a asp-controller="Comerces" asp-action="Register" class="button-header">Ingresa</a>

    </section>



    <!-- banner Text -->
    <!-- banner image -->

    <figure>

        <div class="parallax-window item tp-banner-container" data-parallax="scroll" data-image-src="images/baner_home_coffe.jpg"></div>

    </figure>

    <!-- banner image -->
}

<!-- top pan -->

<section role="loges" class="top-pan" hidden>

    <div class="container">

        <ul class="row">

            <li class="col-xs-12 col-sm-3 col-md-2 col-lg-2 ">Ellos confian</li>

            <li class="col-xs-4 col-sm-3 col-md-2 col-lg-2 ">

                <a href="#"><img src="~/images/site/logoes/logoes-1.png" alt="" class="img-responsive" /></a>

            </li>

            <li class="col-xs-4 col-sm-3 col-md-2 col-lg-2">

                <a href="#"><img src="~/images/site/logoes/logoes-2.png" alt="" class="img-responsive" /></a>

            </li>

            <li class="col-xs-4 col-sm-3 col-md-2 col-lg-2">

                <a href="#"><img src="~/images/site/logoes/logoes-3.png" alt="" class="img-responsive" /></a>

            </li>

            <li class="col-xs-4 col-sm-3 col-md-2 col-lg-2">

                <a href="#"><img src="~/images/site/logoes/logoes-4.png" alt="" class="img-responsive" /></a>

            </li>

            <li class="col-xs-4 col-sm-3 col-md-2 col-lg-2">

                <a href="#"><img src="~/images/site/logoes/logoes-5.png" alt="" class="img-responsive" /></a>

            </li>

        </ul>

    </div>

</section>

<!-- top pan -->
<!-- section-one -->

<section class="section-one text-center" id="section-one">

    <div class="container">

        <header role="title-page">

            <h4>Lo que hacemos</h4>

            <h2>¿Buscas un servicio eficiente y menos costoso?</h2>

        </header>

        <article style="padding-top: 0px !important">
            <!-- <h3 style="margin-bottom: 21px;">SNG consta con 2 Diferentes Servicios</h3> -->
            <!-- <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-6">
                    <p style="max-width:300px; margin-left:auto; margin-right:auto; display:block;">
                        1. Una vez que decidas unirte después de 5 Días de Prueba Gratis.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-6">
                    <p style="max-width:300px; margin-left:auto; margin-right:auto; display:block;">
                        2. El paquete será para el tiempo que decidas unirte.
                    </p>
                </div>


            </div> -->


        </article>



        <!-- four boxes  -->

        <div class="row four-box-pan" role="four-box">



            <section class="col-xs-12 col-sm-6 col-md-4">

                <figure><i class="fa fa-check-square-o" aria-hidden="true"></i></figure>

                <h5>ASESORAMIENTO</h5>

                <p>
                    Mejor Marketing <br />
                    Ayuda profesional <br />
                    Expansión de negocio <br />
                </p>

            </section>

            <section class="col-xs-12 col-sm-6 col-md-4">

                <figure><i class="fa fa-paper-plane-o" aria-hidden="true"></i></figure>

                <h5>PUBLICIDAD</h5>

                <p>
                    Costos bajos en publicidad <br />
                    Grupo especializado en marketing <br />
                    Publicidad de productos o servicio <br />
                </p>

            </section>

            <section class="col-xs-12 col-sm-6 col-md-4">

                <figure><i class="fa fa-bullhorn" aria-hidden="true"></i></figure>

                <h5>FERIAS</h5>

                <p>SNG, planea impulsar ferias donde todos los comercios afiliados serán parte de la misma.</p>

            </section>





        </div>

        <!-- four boxes -->



    </div>

</section>

<!-- section-one -->
<!-- section-two -->

<section class="section-two" id="section-two">



    <!-- image-content -->

    <section>

        <div class="col-xs-12 col-sm-6 col-md-6">

            <article>

                <h2>Asesoramiento.</h2>
                <h4>¿Porque los negocios no consiguen muchos clientes?</h4>
                <p  class="text-justify">
                    Existen muchas razones, entre ellas la falta de Mercadeo.
                    Por lo tanto, SNG creó una plataforma para que todas las personas puedan conocer Negocios existentes o futuros.
                    Esto con el fin de mejorar su forma de publicitar sus Productos o Servicios.
                </p>

                <ul>
                    <li>Mejor Marketing </li>
                    <li>Ayuda profesional</li>
                    <li>Expansión de negocio</li>
                </ul>

            </article>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">

            <figure class="row" style="background-image:url('/images/site/feria.png')"></figure>

        </div>

    </section>

    <!-- image-content -->

    <div class="clearfix"></div>

    <!-- image-content -->

    <section>


        <div class="col-xs-12 col-sm-6 col-md-6">
            <figure id="figure-publicidad" class="row" style="background-image:url('/images/site/publicidad1.jpg')">
            </figure>

        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">

            <article>

                <h2>Publicidad.</h2>

                <p class="text-justify">
                    SNG es una empresa Publicitaria. Su principal objetivo es dar a conocer tu negocio a través de la publicidad digital y Reducir costos para el propietario.
                    SNG, apoya a todas las personas que desean emprender y mejorar su forma de publicidad.
                </p>

                <ul>
                    <li>
                        Publicidad de productos o servicio
                    </li>
                    <li>
                        Grupo especializado en marketing
                    </li>
                    <li>Costos bajos en publicidad</li>
                </ul>

            </article>

        </div>

    </section>

    <!-- image-content -->

    <div class="clearfix"></div>

    <!-- image-content -->

    <section>

        <div class="col-xs-12 col-sm-6 col-md-6">

            <article>

                <h2>Ferias.</h2>

                <p class="text-justify">
                    SNG Organizará ferias con el fin de facilitar la promoción, comercialización y fortalecimiento de las pequeñas y medianas empresas o negocios.
                    Sin embargo, SNG recomienda que estar afiliado para obtener los beneficios y lograr establecer alianzas empresariales de compra de tus productos 
                    o establecer contactos con otros prestadores de servicios para mejorar tu producción.

                </p>

                <p>

                    ¡SNG, impulsará ferias donde todos los comercios afiliados serán parte de la misma!.

                </p>

            </article>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">

            <figure class="row" style="background-image:url('/images/site/asesoramiento.jpg');"></figure>

        </div>

    </section>


    <!-- image-content -->

    <div class="clearfix"></div>

    @*<!-- video -->

        <div class="video-pan text-center">

            <a id="video" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=0K-g84sK6R0',containment:'.bg-container-youtube', showControls:false,autoPlay:true, loop:true, startAt:0, opacity:1, addRaster:false, quality:'large'}"></a>



            <!-- 5.0 background container autoPlay:true,  -->

            <div class="bg-container-youtube"></div>

            <header>
                <a class="popup-vimeo video-button" href="https://vimeo.com/45830194"><i class="fa fa-caret-right" aria-hidden="true"></i></a>

                <h4>Video Preview Of Product</h4>

            </header>

        </div>

        <!-- video -->*@
    <!--slider pan -->

    <div class="slider-pan" style="background-color: #323232;color: grey;" hidden>

        <header role="title-page" class="text-center">

            <h4>Testimonios</h4>

        </header>

        <!-- carousel -->

        <div id="owl-demo" class="owl-carousel text-center" role="slider">



            <section class="item">

                <article>

                    Morbi leo orta felis euismod semper.Maecenas sed diam eget risus varius blandit sit <br />

                    amet non magna felis euismod leo orta felis semper.

                </article>

                <header>

                    <h5>Antony Casalena</h5>

                    <h6>Vice president, IQTeam</h6>

                </header>

            </section>

            <section class="item">

                <article>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis tortor nec diam dapibus<br>efficitur in quis sem. Morbi tristique purus at vestibulum malesuada.

                </article>

                <header>

                    <h5>Brain Rice</h5>

                    <h6>VP, Lexix Pvt Ltd</h6>

                </header>

            </section>

            <section class="item">

                <article>

                    Morbi leo orta felis euismod semper.Maecenas sed diam eget risus varius blandit sit <br />

                    amet non magna felis euismod leo orta felis semper.

                </article>

                <header>

                    <h5>Antony Casalena</h5>

                    <h6>Vice president, IQTeam</h6>

                </header>

            </section>

            <section class="item">

                <article>

                    Morbi leo orta felis euismod semper.Maecenas sed diam eget risus varius blandit sit <br />

                    amet non magna felis euismod leo orta felis semper.

                </article>

                <header>

                    <h5>Antony Casalena</h5>

                    <h6>Vice president, IQTeam</h6>

                </header>

            </section>





        </div>

        <!-- carousel -->

    </div>

    <!--slider pan -->



</section>

<!-- section-two -->
<!-- section-three PRICING -->
<section class="section-three" id="section-three" >

        <div class="container">

            <header role="title-page" class="text-center">

                <h4>Planes Flexibles</h4>

                <h2>Selecciona el plan que se ajuste a tu empresa. </h2>

            </header>

            <!-- pricing -->

            <div class="pricing">

                <section>

                    <header><h4>Básico</h4></header>

                    <h2><span>$50<small style="color: white; font-size:19px">+ IVA</small></span></h2>
                    

                    <ul>

                        <li>1 Mes</li>

                        <!-- <li>24/7 Soporte</li>

                        <li>Single Licence</li> -->

                    </ul>

                    <!-- <input name="" type="button" value="get Strated"> -->

                </section>

                <section>

                    <header><h4>Standar</h4></header>

                    <h2><span>$182<small style="color: white; font-size:19px">+ IVA</small></h2>

                    <ul>

                        <li>3 Meses</li>

                        <!-- <li>24/7 Support</li>

                        <li>Single Licence</li> -->

                    </ul>

                    <!-- <input name="" type="button" value="get Strated"> -->

                </section>

                <section>

                    <header><h4>Premium</h4></header>

                    <h2><span>$280<small style="color: white; font-size:19px">+ IVA</small></h2>

                    <ul>

                        <li>6 Meses</li>

                        <!-- <li>24/7 Support</li>

                        <li>Single Licence</li> -->

                    </ul>

                    <!-- <input name="" type="button" value="get Strated"> -->

                </section>

            </div>

            <!-- pricing -->

        </div>

</section>

<!-- section-three -->
<!-- section-four -->

<section class="section-four" id="section-four" hidden>

    <div class="container">

        <header role="title-page" class="text-center">

            <h4>Meet The Team</h4>

            <h2>Our team is passionate about bringing the <br />best for our customers.</h2>

        </header>

        <!-- Team -->

        <div class="team-pan row">



            <section class="col-xs-12 col-sm-6 col-md-3">

                <figure><img src="https://placehold.it/249x263" alt="" class=" img-responsive" /></figure>

                <header>

                    <h5>Antony Casalena</h5>

                    <h6>Vice president</h6>

                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>

                </header>

            </section>

            <section class="col-xs-12 col-sm-6 col-md-3">

                <figure><img src="https://placehold.it/249x263" alt="" class=" img-responsive" /></figure>

                <header>

                    <h5>Anaia Doe</h5>

                    <h6>Creative Head</h6>

                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>

                </header>

            </section>

            <section class="col-xs-12 col-sm-6 col-md-3">

                <figure><img src="https://placehold.it/249x263" alt="" class=" img-responsive" /></figure>

                <header>

                    <h5>Johnathan Doe</h5>

                    <h6>Development Lead</h6>

                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>

                </header>

            </section>

            <section class="col-xs-12 col-sm-6 col-md-3">

                <figure><img src="https://placehold.it/249x263" alt="" class=" img-responsive" /></figure>

                <header>

                    <h5>Julian Gulia</h5>

                    <h6>Marketing Head</h6>

                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>

                    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>

                </header>

            </section>



        </div>

        <!-- Team -->

    </div>

</section>

<!-- section-fore -->
<!-- section-five -->

<section class="section-five" id="section-five">

    <div class="container">

        <header role="title-page" class="text-center">

            <h4>Suscríbete</h4>

            <h2>¡Suscríbete para recibir actualizaciones mensuales de productos <br />y ofertas exclusivas!</h2>

        </header>

        <!-- subscribe -->

        <div class="subscribe-form">

            <div class="ntify_form">

                <form method="post" action="php/subscribe.php" name="subscribeform" id="subscribeform">

                    <input name="email" type="email" id="subemail" placeholder="Correo">



                    <button type="button" class="btn btn-success" onclick="subscribe()" name="" value="Enviar">

                        Suscribirse <i class="fa fa-envelope" aria-hidden="true"></i>
                    </button>

                </form>

                <!-- subscribe message -->

                <div id="mesaj"></div>

                <!-- subscribe message -->

            </div>

        </div>

        <!-- subscribe -->

    </div>

</section>

<!-- section-five -->
<!-- section-six -->

<section class="section-six" id="section-six">

    <div class="container">

        <header role="title-page" class="text-center">

            <h4>Estar en contacto</h4>

            <h2>¿Tienes alguna pregunta? Nuestro equipo <br />responderá todas tus dudas.</h2>

        </header>

        <!-- contact-form -->

        <div class="contact-form">
            <div id="simple-msg" style="color: red; font-weight: normal; font-style: italic; margin-left: 5px;"></div>
            <div id="simple-msg2" style="color: red; font-weight: normal; font-style: italic; margin-left: 5px;"></div>
            <div id="simple-msg3" style="color: red; font-weight: normal; font-style: italic; margin-left: 5px;"></div>
            <form method="post" id=formContact>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <input name="emailSubject" id="emailSubject" type="text" placeholder="Nombre completo" required>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <input name="emailClient" id="emailClient" type="email" placeholder="Correo" required>
                </div>
                <div class="clearfix"></div>
                <textarea name="emailMessage" id="emailMessage" cols="" rows="" placeholder="Detalle del mensaje" required></textarea>
                <div class="clearfix"></div>
                <br />
                <input name="" type="submit" value="Enviar" class="btn btn-success" style="border-radius: 0px; width: 150px;">

            </form>
        </div>
        <!-- contact-form -->
        <div class="clearfix"></div>
    </div>

    <!-- map -->
    <div class="map-wrapper" hidden>

        <div id="surabaya"></div>

    </div>
    <!-- map -->
</section>

<!-- section-six -->
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var figure_publicidad = $('#figure-publicidad');
        var backgrounds = ['url("/images/site/publicidad1.jpg")', 'url("/images/site/publicidad2.jpeg")', 'url("/images/site/publicidad3.jpg")'];
        var current = 0;

        function nextBackground() {
            figure_publicidad.css(
                'background-image',
                backgrounds[current = ++current % backgrounds.length]
            );

            setTimeout(nextBackground, 5000);
        }
        $(function () {
            setTimeout(nextBackground, 5000);
            figure_publicidad.css('background-image', backgrounds[0]);
        })


        function sendEmail() {
            var code = "";
            var description = "";

            var data = {
                email: $("#emailClient").val(),
                subject: $("#emailSubject").val(),
                message: $("#emailMessage").val(),
            }
            //console.log("email data: " + JSON.stringify(data));

            $.ajax({
                type: "POST",
                url: "/Home/SendEmailAsync",
                data: data,
                success: function (response) {
                    //console.log(response);
                    $.each(response,
                        (index, value) => {
                            code = value.code;
                            description = value.description;
                        });
                    if (code == "Send") {
                        $("#emailClient").val('');
                        $("#emailSubject").val('');
                        $("#emailMessage").val('');

                        DevExpress.ui.notify({
                            message: description || "¡Email enviado con exito!",
                            type: "info",
                            displayTime: 5000,
                            closeOnClick: true,
                            position: {
                                my: 'top center',
                                at: 'top center',
                                of: window,
                                offset: '0 100'
                            },
                            width: "400px"
                        });
                    } else {
                        $("#emailClient").val('');
                        $("#emailSubject").val('');
                        $("#emailMessage").val('');

                        DevExpress.ui.notify({
                            message: "¡Upsss, no fue posible enviar el contenido, favor intentelo más tarde!",
                            type: "warning",
                            displayTime: 5000,
                            closeOnClick: true,
                            position: {
                                my: 'top center',
                                at: 'top center',
                                of: window,
                                offset: '0 100'
                            },
                            width: "400px"
                        });

                    }
                },
                error: function (err) {
                    $("#emailClient").val('');
                    $("#emailSubject").val('');
                    $("#emailMessage").val('');

                    DevExpress.ui.notify({
                        message: description || "¡Email no pudo ser enviado!",
                        type: "error",
                        displayTime: 5000,
                        closeOnClick: true,
                        position: {
                            my: 'top center',
                            at: 'top center',
                            of: window,
                            offset: '0 100'
                        },
                        width: "400px"
                    });
                }
            });
        }

        function subscribe() {
            var code = "";
            var description = "";

            var data = {
                email: $("#subemail").val()
            }
            //console.log("email data: " + JSON.stringify(data));

            $.ajax({
                type: "POST",
                url: "/Home/SubscribeAsync",
                data: data,
                success: function (response) {
                    //console.log(response);
                    $.each(response,
                        (index, value) => {
                            code = value.code;
                            description = value.description;
                        });
                    if (code == "Saved") {

                        $("#subemail").html("");
                        $("#subemail").val("");
                        DevExpress.ui.notify({
                            message: description || "¡Suscripcion exitosa, ahora podras recibir actualizaciones de productos y ofertas exclusivas!",
                            type: "info",
                            displayTime: 7000,
                            closeOnClick: true,
                            position: {
                                my: 'top center',
                                at: 'top center',
                                of: window,
                                offset: '0 100'
                            },
                            width: "500px"
                        });
                    } else {
                        $("#subemail").html("");
                        $("#subemail").val("");
                        DevExpress.ui.notify({
                            message: "¡Lo sentimos, NO fue posible suscribirse!",
                            type: "warning",
                            displayTime: 5000,
                            closeOnClick: true,
                            position: {
                                my: 'top center',
                                at: 'top center',
                                of: window,
                                offset: '0 100'
                            },
                            width: "600px"
                        });

                    }
                },
                error: function (err) {
                    //console.log("Error: ");
                    //console.log(err);
                    $("#subemail").html("");
                    $("#subemail").val("");
                    DevExpress.ui.notify({
                        message: description || "¡Email no pudo ser enviado!",
                        type: "error",
                        displayTime: 5000,
                        closeOnClick: true,
                        position: {
                            my: 'top center',
                            at: 'top center',
                            of: window,
                            offset: '0 100'
                        },
                        width: "600px"
                    });
                }
            });
        }

        var formContact = () => {
            $("#formContact").validate({
                rules: {
                    emailClient: {
                        required: true,
                        email: true
                    },
                },
                messages: {
                    emailClient: {
                        required: "Ingresa tu correo electónico",
                        email: jQuery.validator.format("Ingresa un Correo válido"),
                    },
                },
                errorPlacement: function (error, element) {
                },
                showErrors: function () {
                    
                },
                submitHandler: function (form) {
                    //console.log("form contact validated...");
                    sendEmail();
                }
            });
        };

        formContact();



    </script>

}