﻿@model IEnumerable<sng_web.Models.Category>

@{
    ViewData["Title"] = "Index";
}
<h2 class="container uk-heading-bullet">Categorias <small>Registros</small></h2>
<div class="container">
    <div class="container uk-card-default uk-card-hover">
        <div class="row">
            <br />
            <div class="container">
                <div class="pull-right">
                    <div class="uk-display-inline">
                        <button class="uk-button uk-button-small uk-button-default" onclick="laodCategoryTable();"> <span uk-icon="icon: refresh"></span></button> |
                        <a class="uk-button uk-button-small uk-button-primary" asp-action="Create"> <span uk-icon="icon: plus"></span> Nuevo</a>
                    </div>
                    <p>
                        
                    </p>
                </div><br /><br />
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="" id="category_Container"></div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div id="popup_category"></div>
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        laodCategoryTable();

        
    </script>

}
