﻿@model sng_web.Models.Promotion

@{
    ViewData["Title"] = "Delete";
}
<h2 class="uk-heading-bullet">¿Eliminar el registro?</h2>
<hr />
<div class="container">
    <div class="row uk-card uk-card-default uk-card-hover">
        <div class="container" style="margin: 0px">
            <div class="col-sm-8">

                <div class="uk-card-body">
                    <h3 class="uk-card-title">@Html.DisplayFor(model => model.Name)</h3>

                    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                        <div>
                            <dl class="uk-description-list ">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Description)
                                </dd>
                                
                            </dl>
                        </div>

                        <div>
                            <dl class="uk-description-list ">
                                <dt>
                                    @Html.DisplayNameFor(model => model.StartAt)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.StartAt)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Descount)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Descount)
                                </dd>
                            </dl>
                        </div>

                        <div>
                            <dl class="uk-description-list">
                                <dt>
                                    @Html.DisplayNameFor(model => model.EndAt)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.EndAt)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </dt>
                                <dd class="checkbox checbox-switch switch-primary">
                                    <label>
                                        <input disabled/> @Html.DisplayFor(model => model.IsActive)
                                        <span></span>
                                    </label>

                                </dd>
                            </dl>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="margin: 0px">
            <hr />
            <form asp-action="Delete">
                <input type="hidden" asp-for="PromotionId" />
                <input type="hidden" value="@ViewBag.Refer" name="Refer" />
                <a href="@ViewBag.Refer" class="uk-button uk-button-default uk-button-small"><span uk-icon="icon: chevron-left"></span> Regresar</a>  |
                <button type="submit" class="uk-button uk-button-danger uk-button-small"><span uk-icon="icon: trash"></span>Eliminar</button>
            </form>
        </div><br /><br />
    </div>
</div>