﻿@model sng_web.Models.Promotion

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <h2 class="uk-heading-bullet">Editar <small>Promoción</small></h2>
    <hr />
</div>
<div class="row">
    <div class="container">
        <div class="">
            <div class="uk-card-default uk-card-hover">
                <div class="uk-section uk-section-default ">

                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="PromotionId" />

                        <div class="uk-container">
                            <h3>Reemplazar los campos a editar</h3>
                            <div class="row">
                                <div class="col-sm-12 col-md-8">
                                    <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                                        <div>
                                            <div class="form-group">
                                                <label asp-for="Name" class="control-label"></label>
                                                <input asp-for="Name" class="form-control" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Description" class="control-label"></label>
                                                <input asp-for="Description" class="form-control" />
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Descount" class="control-label"></label>
                                                <div class="input-group">
                                                    <input asp-for="Descount" id="percent" class="form-control" />
                                                    <span class="input-group-addon"><strong>%</strong></span>
                                                </div>
                                                <span asp-validation-for="Descount" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="form-group">
                                                <label asp-for="StartAt" class="control-label"></label>
                                                <input asp-for="StartAt"  class="form-control" id="StartAt" />
                                                <span asp-validation-for="StartAt" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="EndAt" class="control-label"></label>
                                                <input asp-for="EndAt"  class="form-control" id="EndAt" />
                                                <span asp-validation-for="EndAt" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox checbox-switch switch-primary">
                                                    <label>
                                                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="ProductId" class="control-label" hidden></label>
                                                <input asp-for="ProductId" class="form-control" hidden />
                                                <span asp-validation-for="ProductId" class="text-danger" hidden></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="ComerceId" class="control-label" hidden></label>
                                                <input asp-for="ComerceId" class="form-control" hidden />
                                                <span asp-validation-for="ComerceId" class="text-danger" hidden></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="container">
                                    <div class="form-group">
                                        <input type="hidden" value="@ViewBag.Refer" name="Refer" />
                                        <a href="@ViewBag.Refer" class="uk-button uk-button-default uk-button-small">
                                            <span uk-icon="icon: chevron-left"></span>
                                            Regresar
                                        </a>  |
                                        <button class="uk-button uk-button-primary uk-button-small" type="submit"><span uk-icon="icon: check"></span> Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        setPercentField($("#percent"));

    </script>
}
    