@model sng_web.Models.About

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h2 class="uk-heading-bullet">Acerca <small>de</small></h2>
    <hr />
</div>
<div class="container">
    <div class="uk-card-default uk-card-hover">
        <div class="uk-section uk-section-default ">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="uk-container">
                    <h3>Agregar Nuevo Registro</h3>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="uk-grid-match uk-child-width-1-4@m" uk-grid>
                                <div>
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <textarea asp-for="Description" class="form-control" rows="4" cols="20"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>

                                <div>  
                                    <div class="form-group">
                                        <label asp-for="Phone" class="control-label"></label>
                                        <input asp-for="Phone" class="form-control" />
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label asp-for="Address" class="control-label"></label>
                                        <textarea asp-for="Address" class="form-control" rows="4" cols="20"></textarea>
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                    
                                </div>

                                <div>  
                                    <div class="form-group">
                                        <label asp-for="Exchanges" class="control-label"></label>
                                        <textarea asp-for="Exchanges" class="form-control" rows="8" cols="20"></textarea>
                                        <span asp-validation-for="Exchanges" class="text-danger"></span>
                                    </div>
                                </div>

                                <div>
                                    <div class="form-group">
                                        <label asp-for="TermsPrivacy" class="control-label"></label>
                                        <textarea asp-for="TermsPrivacy" class="form-control" rows="8" cols="20"></textarea>
                                        <span asp-validation-for="TermsPrivacy" class="text-danger"></span>
                                    </div>
                                    
                                </div>

                            </div>
                            <br />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="container">
                            <div class="form-group">
                                <a asp-action="Index" class="uk-button uk-button-default uk-button-small">
                                    <span uk-icon="icon: chevron-left"></span>
                                    Regresar
                                </a>  |
                                <button class="uk-button uk-button-primary uk-button-small" type="submit"><span uk-icon="icon: check"></span> Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
