@model IEnumerable<sng_web.Models.About>
 
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h2 class="uk-heading-bullet" >Acerca <small>de</small></h2>
    <hr />
</div>

<div class="container">
    <div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Usuarios del sistema</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="uk-table uk-table-striped uk-table-small uk-table-responsive uk-table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TermsPrivacy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Exchanges)
                    </th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TermsPrivacy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Exchanges)
                        </td>
                        <td width="200px">
                            <a asp-action="Edit" asp-route-id="@item.AboutId" >
                                <span class="uk-margin-small-right" uk-icon="pencil"></span>
                            </a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

