@font-face {
    font-family: Montse;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: JosefinBold;
    src: url(../fonts/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: JosefinThin;
    src: url(../fonts/JosefinSans-Thin.ttf);
}



@font-face {
    font-family: MontseBold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Slabo;
    src: url(../fonts/Slabo13px-Regular.ttf);
}

@font-face {
    font-family: Lobster-Regular;
    src: url(../fonts/Lobster-Regular.ttf);
}

.overlay {
    z-index: 2;
}

.overlay h1 {
    color: white;
    font-family: Lobster-Regular;
    font-size: 40px;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.5));
}

.overlay p {
    color: white;
    font-family: Cabin;
    text-align: left;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.5));
}


.divider {
    height: 700px;
    background-image: url('/images/header5.png');
    background-size: cover;
}


.divider::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: url("/images/divider.svg");
      filter: drop-shadow(0px -6px 6px rgba(0, 0, 0, 0.5));
    z-index: 1;
}

.header-cover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius:0;
  
}

@media only screen and (max-width: 600px) {
    .divider::after{
        background:none;
    }

    .header-cover {
        border-bottom-left-radius: 50% 20% !important; 
        border-bottom-right-radius: 50% 20% !important;
        height: 550px;
 
    }

    .overlay h1 {
        
        font-size: 25px;
     
    }
  
}





#navbar {
    border-bottom: 1px solid rgba(255, 255, 255, .7);
}

#navbar li a {

    color: White;
    font-family: Raleway !important;
    font-size: 15px;
    text-transform: none;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
    transition: text-shadow border-bottom 0.5s ease;
}

#navbar li a:hover {

    transition: text-shadow 0.5s ease;
}



#navbar div button {
    transition: color ease-out 1s;
}

.uk-navbar-container {
    transition: background 0.3s ease-out;
}



.nav-scrolled {
    background: rgba(33, 78, 153, 0.8) !important;
    box-shadow: 0 1px 1px #102546;
    z-index: 9999;
}

.nav-scrolled div nav {
    border-bottom: none !important;
}

.nav-scrolled div nav div ul li a {

    color: white !important;
    height: 25px !important;
}


.nav-scrolled div nav div button {
    transition: color ease 1s;
    color: white;
}

.log-btn {
    border: none;
    height: 30px;
    text-align: center;
    color: white;
    transition: all 5s ease;
    transition: 0.2s;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.5));
}



.reg-btn {

    border: none;
    height: 30px;
    text-align: center;
    color: white;
    transition: all 0.5s ease;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.5));
}

.uk-card {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
    /*border-radius: 10px;*/
}

.uk-card p {
    font-size: 10px !important;
}

.uk-dotnav>.uk-active>* {
    background-color: skyblue !important;
}

#hamburger svg {
    width: 30px;
    height: 30px;
    fill: white;
}


.grid {
    position: relative;
    top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}


.services-section {
    background-image: url(/images/services.png);
    background-size: cover;
}

.services-section p {
    margin-top: 20px;
    font-family: Montse;
    font-size: 25px;
}


.affiliate-section {
  
}

.affiliate-cont{
    margin-top:20px;
    border: 1px solid skyblue;
    background-color: rgba(255,255,255,1);
    border-radius: 30px;
      box-shadow: 0 6px 10px #102546;
}

.affiliate-cont div p{

    font-family: Montse;
    font-size: 25px;
    padding: 20px;
}

.aff-img{
    top:-85px !important;
}



.start-btn {
    width: 200px;
    height: 50px;
    border-radius: 10px !important;
    background-color: #54a0ff !important;
    border: none !important;
    color: white !important;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.5));
    transition: opacity .4s ease;
}

.separator{
    position:relative;
    text-align: center;
    height: 50px;

}

.separator-header{
    font-family: Lobster-Regular;
    color:skyblue;
      text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4);
}

.know-more-btn{
     filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.5));
     border-radius: 55px !important;
     background-color: #4cd137!important;
     transition:background-color text-shadow .5s ease;
}

.know-more-btn:hover{
    background-color: #44bd32 !important;
        text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.know-more-btn svg:hover{
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.5));
}