﻿@model IEnumerable<UserMessageComment>
<li class="dropdown messages-menu">
    <!-- Menu toggle button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell"></i>
        <span class="label label-success">@Model.Count()</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">Tienes @Model.Count() comentario(s) a tu comercio</li>
        <li>
            <!-- inner menu: contains the messages -->
            <ul class="menu">
            @foreach (var message in Model)
            {
                <li>
                    <!-- start message -->
                    <a href="/Chats">
                        <div class="pull-left">
                            <!-- User Image -->
                            <img src="@message.AvatarURL" class="img-circle" alt="ui">
                        </div>
                        <!-- Message title and timestamp -->
                        <small class="pull-right"><i class="fa fa-clock-o"></i> @message.TimeSpan</small>
                        <br />
                        <h4>
                            @message.DisplayName  
                            <small> 
                                <br /> <br>
                                @message.applicationUser.Email 
                            </small>                            
                        </h4>
                        <!-- The message -->
                        <p>@message.Comment</p>
                    </a>
                </li>
            }
                <!-- end message -->
            </ul>
            <!-- /.menu -->
        </li>
        @*<li class="footer"><a href="#">Ver todos los comentarios</a></li>*@
    </ul>
</li>