@model sng_web.Models.Comerce

<style>
    .right>.direct-chat-text {
        background: #3c8dbc;
        border-color: #3c8dbc;
        color: #fff;
    }

    .right .direct-chat-text:after, .right .direct-chat-text:before {
        right: auto;
        left: 100%;
        border-right-color: transparent;
        border-left-color: #3c8dbc;
    }
</style>

<h2 class="container uk-heading-bullet">Chats <small>Usuario</small></h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Bandeja de mansajes</h3>
                <div class="box-tools pull-right"></div>
                <input type="hidden" id="user_id_input"/>
                <input type="hidden" id="comerce_id_input" value="@Model.ComerceId" />
                
            </div>
            <!-- /.box-header -->
            <div class="box-body" id="content-message">
                
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <form onSubmit="return false;"> 
                <div class="input-group">
                    <input type="text" name="message" id="message" placeholder="Escribe tu mensaje..." class="form-control">
                    <span class="input-group-btn">
                        <button type="button" id="btn_message" onclick="send()" class="btn btn-primary btn-flat">Enviar</button>
                    </span>
                </div>
                </form>
            </div>
            <!-- /.box-footer-->
            </div>
            <!--/.direct-chat -->
        </div>
    </div>

    <div class="container uk-card-default uk-card-hover">
        
    </div>
    <!-- /.box-footer-->
    </div>
    <!--/.direct-chat -->
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/signalr/dist/browser/signalr.js"></script>

    <script>
        "use strict";

        $( document ).ready(function() {
            console.log( "ready!" );
        });

        var _destinatarioId = null; 
        var _comerceId = null; 

        var connection = new signalR.HubConnectionBuilder().withUrl("/api/chatHub").withAutomaticReconnect().configureLogging("debug").build();
        Object.defineProperty(WebSocket, 'OPEN', { value: 1, });

        connection.on("ReceiveMessage", function (response) {
            // console.log('connection.on(ReceiveMessage) :: \n', response);
            var content = $("#content-message");
                content.html("");

                if(response.mensajes != undefined) {
                    $.each(response.mensajes, (index, value) => {
                        /// console.log(index, value.userId, isComerce(value.userId))
                        if(!isComerce(value.userId)) {
                            $("#user_id_input").val(value.userId);
                            SetChatsVisto();
                            var avatar = value.avatar || "/images/user.png";
                            var product = null;

                            if(value.product) {
                                product = value.product;
                                var productname = product.name || "Nombre del producto";
                                var productdescription = product.description || "Descripción del producto";
                                var productimage = product.image || "/images/user.png";

                                product =
                                    `<div class="attachment-block clearfix">
                                        <img class="attachment-img" src="${ productimage }" alt="${ productname }">

                                        <div class="attachment-pushed">
                                            <h4 class="attachment-heading">
                                                ${ productname }
                                            </h4>

                                            <div class="attachment-text">
                                                ${ productdescription }
                                            </div>
                                        </div>
                                    </div>`;
                            }
                            

                            var client_html = 
                                `<div class='direct-chat-msg left'>
                                    <div class='direct-chat-info clearfix'>
                                        <span class='direct-chat-name pull-left'>${ value.nombre }</span>
                                        <span class='direct-chat-timestamp pull-right'>${ formatDate(value.fecha) }</span>
                                    </div>
                                    <img class='direct-chat-img' src='${ avatar }' alt='${ value.nombre }'>
                                    <div class='direct-chat-text'>
                                       ${ product ? product : "" }
                                       ${ value.mensaje }
                                    </div>
                                </div>`;
                            content.append(client_html);

                        } else {
                            $("#comerce_id_input").val(value.userId);
                            var avatar = value.avatar || "/images/user.png";
                            var comerce_html = 
                                `<div class='direct-chat-msg right'>
                                    <div class='direct-chat-info clearfix'>
                                        <span class='direct-chat-name pull-right'>` + value.nombre + `</span>
                                        <span class='direct-chat-timestamp pull-left'>`+ formatDate(value.fecha) +`</span>
                                    </div>
                                    <img class='direct-chat-img' src='`+ avatar  +`' alt='image'>
                                    <div class='direct-chat-text'>
                                    `+  value.mensaje +`
                                    </div>
                                </div>`;
                            content.append(comerce_html);
                        }
                    });

                    
                } else {
                    var html = `<p> No hay mensajes</p>`;
                    content.append(html);
                }
        });

        connection.start().then(function () {            
            var url = window.location.pathname;
            var id_chat_room = url.substring(url.lastIndexOf('/') + 1);

            var match,
            pl     = /\+/g,  // Regex for replacing addition symbol with a space
            search = /([^&=]+)=?([^&]*)/g,
            decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
            query  = window.location.search.substring(1);

            var urlParams = {};
            while (match = search.exec(query))
            urlParams[decode(match[1])] = decode(match[2]);

            var _destinatarioId = urlParams.userId;
            
            
            connection.invoke("GetMessages", id_chat_room).catch(function (err) {
                return console.error(err.toString());
            });
        }).catch(function (err) {
            return console.error(err.toString());
        });

        function isComerce(value) {
            return /^-{0,1}\d+$/.test(value);
        }

        function formatDate(response) {
            var date = new Date(response);
            console.log('response: ', date);

            var monthNames = [
            "Enero", "Febrero", "Marzo",
            "Abril", "Mayo", "Junio", "Julio",
            "Agosto", "Septiembre", "Octubre",
            "Noviembre", "Diciembre"
            ];

            var day = date.getDate();
            var monthIndex = date.getMonth();
            var year = date.getFullYear();
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var seconds = date.getSeconds();

            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
        
            return day + ' ' + monthNames[monthIndex] + ' ' + year + ', ' + strTime;
        }

        $("input#message").bind('keyup', function (e) {    
            // Do Stuff
            console.log('Enter has been fired')
            // Number 13 is the "Enter" key on the keyboard
            if (e.keyCode === 13) {
               // Trigger the button element with a click
               $("#btn_message").click();
               // Cancel the default action, if needed
               e.preventDefault();
           
            }
        });

        function send() {
            var user_id = $("#user_id_input").val(); 
            var comerce_id = $("#comerce_id_input").val(); 
            var message = $("#message").val();

            //console.log('Enviando mensaje', message, user_id, comerce_id);
            sendChats(message, user_id, comerce_id);
            $("#message").val("");
        }
        var visto = false;
        function SetChatsVisto() {
            if (!visto){
                var comerceId = $("#comerce_id_input").val(); 
                var user_id = $("#user_id_input").val(); 
                SetChatsVistoSite(user_id, comerceId);
                visto = true;
            }
        }

        
        
    </script>

}