<style>
    .right>.direct-chat-text {
        background: #3c8dbc;
        border-color: #3c8dbc;
        color: #fff;
    }

    .right .direct-chat-text:after, .right .direct-chat-text:before {
        right: auto;
        left: 100%;
        border-right-color: transparent;
        border-left-color: #3c8dbc;
    }
</style>

<h2 class="container uk-heading-bullet">Chats <small>Usuario</small></h2>
<input type="hidden" id="ComerceId" value="@ViewBag.comerceId" />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Lista de conversaciones</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="products-list product-list-in-box" id="chats-list">

                    <li class="item">
                        <p>No hay mensajes</p>
                    </li>
                    <!-- /.item -->

                </ul>
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer -->
        </div>
        </div>
    </div>
    
    <div class="container uk-card-default uk-card-hover">
        
    </div>
    <!-- /.box-footer-->
    </div>
    <!--/.direct-chat -->
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/signalr/dist/browser/signalr.js"></script>

    <script>
        if($("#ComerceId").val() != "")
            getChatsCommerce($("#ComerceId").val());
        else
            getChats();

    </script>

}