﻿@model IEnumerable<sng_web.Models.ApplicationLog>
@{
    var check = "";
    var register = "getByComerce";
    if (User.IsInRole("Admin"))
    {
        check = "checked";
        register = "getAll";
    }
}
<style>
    td{
        color: #000000;
    }
</style>
<div class="container uk-card-default uk-card-hover">
    <div class="row">
        <br />
        <div class="container">
            <div class="pull-right">
                <div class="uk-display-inline">
                    <button class="uk-button uk-button-small uk-button-default" onclick="activity.loadLogsTable('@register')"> <span uk-icon="icon: refresh"></span></button>
                </div>
                <input type="checkbox" id="role" name="role" @check hidden />
                <input type="number" value="@ViewData["ComerceId"]" id="ComerceId" name="ComerceId" hidden />
                
            </div><br /><br />
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div id="logs_table"></div>
            <br /><br />
        </div>
    </div>  
</div>
<br /><br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        
        if ($("#role").is(":checked")) {
            //console.log("Role administrador");
            activity.loadLogsTable("getAll");
        } else {
            var ComerceId = $("#ComerceId").val();
            console.log("Role comerciante, comercio: " + ComerceId);
            activity.loadLogsTable("getByComerce");
        }
    </script>
}

