﻿@model sng_web.Models.Comerce

@{
    ViewData["Title"] = "Create";
}
<div class="container">
<h2 class="uk-heading-bullet">Nuevo <small>Comercio</small></h2>
<hr />
</div>
<div class="container">
    <div class="uk-card-default uk-card-hover">
    <div class="uk-section uk-section-default ">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="uk-container">
                    <h3>Agregar Nuevo Registro</h3>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>

                                <div>
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <input asp-for="Description" class="form-control" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Address" class="control-label"></label>
                                        <input asp-for="Address" class="form-control" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Ruc" class="control-label"></label>
                                        <input asp-for="Ruc" class="form-control" />
                                        <span asp-validation-for="Ruc" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Phone" class="control-label"></label>
                                        <input asp-for="Phone" class="form-control" />
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <br />
                                        <div class="checkbox checbox-switch switch-primary">
                                            <label>
                                                <input asp-for="IsAproved" /> @Html.DisplayNameFor(model => model.IsAproved)
                                                <span></span>
                                            </label>
                                            <label class="pull-right">
                                                <input asp-for="IsActived" /> @Html.DisplayNameFor(model => model.IsActived)
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Rating" class="form-control" value="1" hidden/>
                                        <div class="dx-field">
                                            <div class="dx-field-label">Puntuación</div><br />
                                            <div class="dx-field-value">
                                                <div id="setRating"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CategoryId" class="control-label"></label>
                                        <div class="input-group">
                                            <select asp-for="CategoryId" class="form-control selectpicker" id="ComerceCategoryid" onclick="getCategories()"  asp-items="ViewBag.CategoryId">
                                            </select>
                                            <span class="input-group-addon">
                                                <a class="" href="/Categories/Create"> <strong><span uk-icon="icon: plus"></span></strong></a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="OwnerId" class="control-label">Propietario</label>
                                        <div class="input-group">
                                            <select asp-for="OwnerId" class="ui fluid search dropdown" asp-items="ViewBag.OwnerId">
                                                <option value="0" disabled>Propietario del comercio</option>
                                            </select>
                                            <span class="input-group-addon">
                                                <a class="" href="/Owners/Create"> <strong><span uk-icon="icon: plus"></span></strong></a>
                                            </span>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <br />
                        </div>

                        <div class="col-md-3">
                            <div class="uk-margin ">
                                <ul class="uk-thumbnav" uk-margin>
                                    <li class="uk-active">
                                        <a href="#">
                                            <img id="ComerceBanner" class="img-responsive thumbnail" style="max-width: 250px" src="~/images/no-image.svg" alt="Banner">
                                        </a>
                                    </li>
                                </ul>
                                <div class="js-upload" uk-form-custom style="padding: 20px;">
                                    <input asp-for="UrlLogo" id="ComerceUrlLogo" type="file" multiple onchange="readURLComerce(this, 'ComerceBanner')">
                                    <button class="uk-button uk-button-default" type="button" tabindex="-1">Seleccionar archivo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="container">
                            <div class="form-group">
                                <a asp-action="Index" class="uk-button uk-button-default uk-button-small">
                                    <span uk-icon="icon: chevron-left"></span>
                                    Regresar
                                </a>  |
                                <button class="uk-button uk-button-primary uk-button-small" type="submit"><span uk-icon="icon: check"></span> Guardar</button>
                            </div>
                        </div>
                    </div>  
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('.icp').iconpicker();
        getCategories();
        setRating()

    </script>



}
