﻿@model sng_web.Models.Comerce

@{
    ViewData["Title"] = "Detalle";
    var logo = Model.UrlLogo != null ? Model.UrlLogo : "/images/comerce.png";
    var divider = " | ";
}
<style>
    .dx-popup-wrapper > .dx-overlay-content {
        border: 1px solid #ddd;
        background: #fff;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        border-radius: 0px;
    }

    #popup_vacants {
        border-radius: 0px !important;
        text-align: justify;
    }

    .error {
        color: #D8000C;
    }

    uk-input.error {
        border: 1px solid #D8000C !important;
    }

    label.error {
        font-weight: normal;
        font-style: italic;
        margin-left: 5px;
    }

    .comerceName {
        background-color: #f7f7f7;
        font-size: 18px;
        text-align: center;
        padding: 7px 10px;
        margin-top: 0;
    }

    .check_label {
        position: absolute;
        top: 0%;
        left: 0%;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        background: rgb(255, 255, 255);
        border: 0px;
        opacity: 0;
    }

    .uk-label {
        box-shadow: 1px 1px 1px #808080;
        border-radius: 0px;
        padding: 3px 15px;
    }
</style>

<div class="row">
    <div class="container">
        <h2 class="uk-heading-bullet" style="float: left">Detalle <small>Comercio</small></h2>
        <div class="pull-right" style="margin:15px;">
            <div class="uk-display-inline">
                <a style="box-shadow: 1px 1px 1px #ffffff" class="uk-button uk-button-small uk-button-default" asp-action="Edit" asp-route-id="@Model.ComerceId"> 
                    <span uk-icon="icon: pencil"></span>
                    Editar
                </a>
                @if (User.IsInRole("Admin"))
                {
                    @divider 
                    <a style="box-shadow: 1px 1px 1px #ffffff" class="uk-button uk-button-small uk-button-danger" asp-action="Delete" asp-route-id="@Model.ComerceId"> 
                        <span uk-icon="icon: trash"></span>
                        Eliminar
                    </a>
                   
                    @divider
                    <a href="/Chats/?comerceId=@Model.ComerceId"
                        style="box-shadow: 1px 1px 1px #ffffff" class="uk-button uk-button-small uk-button-primary" > 
                        <span uk-icon="icon: comments"></span> 
                        Chats
                    </a>
                }
            </div>
        </div>
        <input type="hidden" id="ComerceId" value="@Model.ComerceId" />
    </div> 
</div>

<div class="row">
    <div class="col-md-4">
        <!-- Comerce details -->
        <div class="box box-primary uk-card-default uk-card-hover">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive uk-border-squart" src="@logo" alt="Logo">

                <h3 class="profile-username text-center">@Html.DisplayFor(model => model.Name)</h3>

                <p class="text-muted text-center">@Model.Owner.FullName</p>

                <ul class="list-group list-group-unbordered" uk-accordion="multiple: true;">
                    <li class="list-group-item uk-open">
                        <a class="uk-accordion-title" href="#">Información General</a>
                        <div class="uk-accordion-content">
                            <dl class="uk-description-list ">
                                <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                                <dd>@Html.DisplayFor(model => model.Description)</dd>

                                <dt>@Html.DisplayNameFor(model => model.Address)</dt>
                                <dd>@Html.DisplayFor(model => model.Address)</dd>


                                <dt>@Html.DisplayNameFor(model => model.Ruc)</dt>
                                <dd> @Html.DisplayFor(model => model.Ruc)</dd>

                                <dt>@Html.DisplayNameFor(model => model.Phone)</dt>
                                <dd> @Html.DisplayFor(model => model.Phone)</dd>
                            </dl>
                        </div>
                    </li>

                    <li class="list-group-item uk-open">
                        <a class="uk-accordion-title" href="#">Más...</a>
                        <div class="uk-accordion-content">
                            <dl class="uk-description-list ">
                                <dt>Opciones</dt>
                                <dd class="">
                                    <div class="checkbox checbox-switch switch-primary">
                                        <label class="pull-left">
                                            <input type="checkbox" checked="@Model.IsActived" value="@Model.IsActived" disabled /> @Html.DisplayNameFor(model => model.IsActived)
                                            <span></span>
                                        </label>
                                        <label class="pull-right">
                                            <input type="checkbox" checked="@Model.IsAproved" value="@Model.IsAproved" disabled /> @Html.DisplayNameFor(model => model.IsAproved)
                                            <span></span>
                                        </label>
                                    </div><br />
                                </dd>

                                <dt>@Html.DisplayNameFor(model => model.Rating)</dt>
                                <dd>  @Html.DisplayFor(model => model.Rating) <span uk-icon="star"></span></dd>

                                <dt>@Html.DisplayNameFor(model => model.Owner)</dt>
                                <dd> @Html.DisplayFor(model => model.Owner.FullName)</dd>

                                <dt>@Html.DisplayNameFor(model => model.CreatedAt)</dt>
                                <dd id="CreatedAt">@Model.CreatedAt</dd>
                            </dl>
                        </div>
                    </li>
                </ul>

                <a style="box-shadow: 1px 1px 1px #ffffff" class="uk-button uk-button-small uk-button-default btn-block" asp-action="Edit" asp-route-id="@Model.ComerceId"> <span uk-icon="icon: pencil"></span> Editar</a>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <!-- Comerce propertiees -->
    <div class="col-md-8 ">
        <div class="row">
            <div class="nav-tabs-custom  uk-card-default uk-card-hover">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalle del comercio</h3>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#products" data-toggle="tab" aria-expanded="true">Productos</a></li>
                    <li class=""><a href="#promotions" data-toggle="tab" aria-expanded="false">Promociones</a></li>
                    <li class=""><a href="#cupons" data-toggle="tab" aria-expanded="false">Cupones</a></li>
                    <li class=""><a href="#royalties" data-toggle="tab" aria-expanded="false">Regalias</a></li>
                    <li class=""><a href="#vacants" data-toggle="tab" aria-expanded="false">Vacantes</a></li>
                    <li class=""><a href="#comments" data-toggle="tab" aria-expanded="false">Comentarios</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="products">
                        <!-- Post -->
                        <div class="post">
                            <div class="row">
                                <div class="pull-right">
                                    <div class="uk-display-inline">
                                        <button class="uk-button uk-button-small uk-button-default" onclick="loadProductsTable()"> <span uk-icon="icon: refresh"></span></button> |
                                        <a class="uk-button uk-button-primary uk-button-small" onclick="" uk-toggle="target: #new_product">
                                            <span uk-icon="icon: plus"></span> Nuevo
                                        </a>
                                    </div>
                                </div><br /><br />
                            </div>
                            <div class="row">
                                <div class="">
                                    <div id="table_products"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /.post -->
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="promotions">
                        <!-- Post -->
                        <div class="post">
                            @* panel promotions  ...................................................................................................*@
                            <div class="row">
                                <div class="pull-right">
                                    <div class="uk-display-inline">
                                        <button class="uk-button uk-button-small uk-button-default" onclick="loadPromotionsTable()"> <span uk-icon="icon: refresh"></span></button> |
                                        <a class="uk-button uk-button-primary uk-button-small" onclick="load_select_product();" uk-toggle="target: #new_promotion">
                                            <span uk-icon="icon: plus"></span> Nuevo
                                        </a>
                                    </div>
                                </div><br /><br />
                            </div>
                            <div class="row">
                                <div class="">
                                    <div id="table_promotions"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /.post -->
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="cupons">
                        <!-- Post -->
                        <div class="post">
                            @* panel cupons  ...................................................................................................*@
                            <div class="row">
                                <div class="pull-right">
                                    <div class="uk-display-inline">
                                        <button class="uk-button uk-button-small uk-button-default" onclick="loadCuponsTable()"> <span uk-icon="icon: refresh"></span></button> |
                                        <a class="uk-button uk-button-primary uk-button-small" onclick="" uk-toggle="target: #new_cupon">
                                            <span uk-icon="icon: plus"></span> Nuevo
                                        </a>
                                    </div>
                                </div><br /><br />
                            </div>
                            <div class="row">
                                <div class="">
                                    <div id="table_cupons"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /.post -->
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="royalties">
                        <!-- Post -->
                        <div class="post">
                            @* panel vacants  ...................................................................................................*@
                            <div class="row">
                                <div class="pull-right">
                                    <div class="uk-display-inline">
                                        <button class="uk-button uk-button-small uk-button-default" onclick="loadRoyaltiesTable()"> <span uk-icon="icon: refresh"></span></button> |
                                        <a class="uk-button uk-button-primary uk-button-small" onclick="" uk-toggle="target: #new_royalty">
                                            <span uk-icon="icon: plus"></span> Nuevo
                                        </a>
                                    </div>
                                </div><br /><br />
                            </div>
                            <div class="row">
                                <div class="">
                                    <div id="table_royalties"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /.post -->
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="vacants">
                        <!-- Post -->
                        <div class="post">
                            @* panel vacants  ...................................................................................................*@
                            <div class="row">
                                <div class="pull-right">
                                    <div class="uk-display-inline">
                                        <button class="uk-button uk-button-small uk-button-default" onclick="loadVacantsTable()"> <span uk-icon="icon: refresh"></span></button> |
                                        <a class="uk-button uk-button-primary uk-button-small" onclick="" uk-toggle="target: #new_vacant">
                                            <span uk-icon="icon: plus"></span> Nuevo
                                        </a>
                                    </div>
                                </div><br /><br />
                            </div>
                            <div class="row">
                                <div class="">
                                    <div id="table_vacants">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.post -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="comments">
                        <!-- Post -->
                        <div class="post">
                            @* panel comments  ...................................................................................................*@
                            
                            <div class="row">
                                <div class="">
                                    <div id="table_comments">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.post -->
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
        </div>

    </div>
</div>
<br />

@* All Modals  *@
<div class="row">
    @* Products Modals ............................................................................................................................................. *@
    <div id="new_product" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Nuevo Producto</h2>
            </div>
            <div class="uk-modal-body">
                <form id="formProduct" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-sm-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="uk-margin">
                                <div class="uk-inline" id="groupProductName">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span uk-icon="icon: tag"></span></span>
                                        <input class="uk-input  form-control" maxlength="100" type="text" data-field="ProductName" name="ProductName" id="ProductName" placeholder="Nombre del Producto" />
                                    </div>
                                </div>
                            </div>

                            <div class="uk-margin">
                                <div class="uk-inline" id="groupProductPrice">
                                    <div class="row">
                                        <div class="form-group col-sm-3" style="padding-right: 5px; ">
                                            <select class="uk-select" id="selectcurrency" style="height: 40px" onchange="setCurrency()">
                                                <option value="C$" selected>C$</option>
                                                <option value="$">$</option>
                                            </select>
                                            <input type="hidden" id="currency" name="name" value="C$"/>
                                        </div>
                                        <div class="form-group col-sm-9" style="padding-left: 0px">
                                            <input class="uk-input form-control" type="number" value="0" min="0" max="999999" maxlength="6" data-field="ProductPrice" name="ProductPrice" id="ProductPrice" placeholder="Precio del Producto" />
                                        </div>
                                    </div>


                                    @*<div class="input-group">
                                        <span class="input-group-addon"><span uk-icon="icon: tag"></span></span>
                                        <input class="uk-input form-control" type="number" min="0" max="999999" maxlength="6" data-field="ProductPrice" name="ProductPrice" id="ProductPrice" placeholder="Precio del Producto" />
                                    </div>*@
                                </div>
                            </div>

                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <textarea class="form-control" maxlength="400" type="text" data-field="ProductDescription" name="ProductDescription" id="ProductDescription"
                                              placeholder="Descripción del Producto" cols="10" rows="4"></textarea>
                                    <div class="valid-message"></div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="uk-margin">
                                <ul class="uk-thumbnav" uk-margin>
                                    <li class="uk-active">
                                        <a href="#">
                                            <img id="ProductBannerNew" class="img-responsive thumbnail" style="max-width: 250px" src="~/images/no-image.svg" alt="Banner">
                                        </a>
                                    </li>
                                </ul>
                                <div class="js-upload" uk-form-custom>
                                    <input id="ProductUrlImage" type="file" multiple onchange="readURLProduct(this, 'ProductBannerNew')">
                                    <button class="uk-button uk-button-default" type="button" tabindex="-1">Seleccionar archivo</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button"><span uk-icon="close"></span> Cancelar</button>
                            <button class="uk-button uk-button-primary" type="submit"><span uk-icon="check"></span> Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>

    @* Promotions Modals............................................................................................................................................. *@
    <div id="new_promotion" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Nueva Promoción</h2>
            </div>
            <div class="uk-modal-body">
                <form id="formPromotion">
                    <div class="row">
                        <fieldset>
                            <div class="col-sm-6">
                                <div class="uk-margin">
                                    <div class="uk-inline">
                                        <input class="uk-input" type="text" name="PromotionName" id="PromotionName" placeholder="Nombre de la promoción" />
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-inline">
                                        <div class="input-group">
                                            <input type="number" max="99" min="0" class="uk-input" name="PromotionDescount" id="PromotionDescount" placeholder="00.00" />
                                            <span class="input-group-addon"><strong>%</strong></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="">
                                        <textarea rows="5" cols="10" class="form-control" maxlength="400" name="PromotionDescription" id="PromotionDescription" placeholder="Descripción de la promoción"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="uk-margin">
                                    <div class="uk-inline">
                                        <input class="uk-input" type="date" name="PromotionStartAt" id="PromotionStartAt" placeholder="Inicio de la promoción" />
                                    </div>
                                </div>

                                <div class="uk-margin">
                                    <div class="uk-inline">
                                        <input class="uk-input" type="date" name="PromotionEndAt" id="PromotionEndAt" placeholder="Final de la promoción" />
                                    </div>
                                </div>

                                <div class="uk-margin">
                                    <div class='form-group'>
                                        <select onClick='' id='PromotionProductId' class='ui fluid search dropdown'>
                                            <option value="0" disabled> -Seleccionar un Producto- </option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </fieldset>

                    </div>
                    <div class="row">
                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button"><span uk-icon="close"></span> Cancelar</button>
                            <button class="uk-button uk-button-primary" id="btnAddPromotion" type="submit" disabled><span uk-icon="check"></span> Guardar</button>
                        </div>
                    </div>

                </form>
            </div>
            <br />
        </div>
    </div>

    @* Cupons Modals............................................................................................................................................. *@
    <div id="new_cupon" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Nuevo Cupón</h2>
            </div>
            <div class="uk-modal-body">
                <form id="formCupon">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="uk-margin">
                                <div class="uk-inline" id="groupCuponDescount">
                                    <div class="input-group">
                                        <input type="number" max="99" min="0" class="uk-input" name="CuponDescount" id="CuponDescount" placeholder="00.00" />
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-margin">
                                <div class="uk-inline" id="groupCuponValidity">
                                    <div class="input-group">
                                        <input class="uk-input" type="number" min="0" name="CuponValidity" id="CuponValidity" placeholder="Validez del cupón" />
                                        <span class="input-group-addon">Diaz</span>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-margin">
                                <div class="uk-inline" id="groupCuponMoneyValue">
                                    <div class="input-group">
                                        <span class="input-group-addon">C$</span>
                                        <input class="uk-input" type="number" min="0" name="CuponMoneyValue" id="CuponMoneyValue" placeholder="Valor monetario del cupón" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button"><span uk-icon="close"></span> Cancelar</button>
                            <button class="uk-button uk-button-primary" type="submit"><span uk-icon="check"></span> Guardar</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    @* Royalty Modals............................................................................................................................................. *@
    <div id="new_royalty" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Nueva Regalia</h2>
            </div>
            <div class="uk-modal-body">
                <form id="formRoyalty">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="uk-inline">
                                    <input class="form-control" id="RoyaltyName" name="RoyaltyName" placeholder="Nombre" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="uk-inline" id="groupRoyaltyValue">
                                    <div class="input-group">
                                        <span class="input-group-addon">C$</span>
                                        <input class="form-control" id="RoyaltyValue" name="RoyaltyValue" type="number" max="99999" min="0" placeholder="Valor monetario" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="RoyaltyConcept" name="RoyaltyConcept" rows="4" cols="20" placeholder="En concepto de"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group" id="groupRoyaltyCount">
                                    <input class="form-control" id="RoyaltyCount" name="RoyaltyCount" type="number" placeholder="Cantidad" />
                                    <span class="input-group-addon">Und</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="RoyaltyDescription" name="RoyaltyDescription" rows="4" cols="20" placeholder="Desccripción"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button"><span uk-icon="close"></span> Cancelar</button>
                            <button class="uk-button uk-button-primary" type="submit"><span uk-icon="check"></span> Guardar</button>
                        </div>
                    </div>


                </form>
            </div>

        </div>
    </div>

    @* Vacants Modals............................................................................................................................................. *@
    <div id="new_vacant" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Nueva Vacante</h2>
            </div>
            <div class="uk-modal-body">
                <form id="formVacant">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <input class="uk-input" type="text" name="VacantName" id="VacantName" placeholder="Vacante" />
                                </div>
                            </div>

                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <textarea class="form-control" name="VacantDescription" id="VacantDescription" cols="20" rows="4" placeholder="Descripcion de la vacante"></textarea>
                                </div>
                            </div>

                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <input class="uk-input" type="text" name="VacantArea" id="VacantArea" placeholder="Area del cargo" />
                                </div>
                            </div>

                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <input class="uk-input" type="text" name="VacantCargo" id="VacantCargo" placeholder="Cargo a desempeñar" />
                                </div>
                            </div>

                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <div class="input-group" id="groupVacantAvailableVacants">
                                        <input class="uk-input" type="number" min="1" name="VacantAvailableVacants" id="VacantAvailableVacants" placeholder="Vacantes disponibles" />
                                        <span class="input-group-addon"><span uk-icon="users"></span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <input class="uk-input" type="text" name="VacantExperience" id="VacantExperience" value="Ninguna experiencia" placeholder="Experiencia necesaria" />
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <input class="uk-input" type="number" max="60" min="15" name="VacantAge" id="VacantAge" placeholder="Edad minima" />
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <div class="input-group" id="groupVacantMaxSalary">
                                        <span class="input-group-addon">C$</span>
                                        <input class="uk-input" type="number" min="1" name="VacantMaxSalary" id="VacantMaxSalary" placeholder="Salario Maximo" />
                                    </div>
                                </div>
                            </div>

                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <div class="input-group" id="groupVacantMinSalary">
                                        <span class="input-group-addon">C$</span>
                                        <input class="uk-input" type="number" min="1" name="VacantMinSalary" id="VacantMinSalary" placeholder="Salario Minimo" />
                                    </div>
                                </div>
                            </div>

                            <div class="uk-margin">
                                <select onClick='' id='VacantGenre' class='ui fluid search dropdown'>
                                    <option value="1" selected> Masculino </option>
                                    <option value="2"> Femenino </option>
                                </select>
                            </div>

                            <div class="uk-margin">
                                <select onClick='' id='Vacantschedule' class='ui fluid search dropdown'>
                                    <option value="1" selected> Tiempo completo </option>
                                    <option value="2"> Medio tiempo </option>
                                    <option value="2"> Horario por turnos </option>
                                </select>
                            </div>

                            <div class="uk-margin">
                                <select onClick='' id='VacantDepartment' class='ui fluid search dropdown'>
                                    <option value="1" selected> Managua </option>
                                    <option value="2"> Masaya </option>
                                    <option value="3"> León </option>
                                    <option value="4"> Chinandega </option>
                                    <option value="5"> Bocaco </option>
                                    <option value="6"> Chontales </option>
                                    <option value="7"> Estelí </option>
                                    <option value="8"> Granada </option>
                                    <option value="9"> Jinotega </option>
                                    <option value="10"> Madríz </option>
                                    <option value="11"> Matagalpa </option>
                                    <option value="12"> Nueva Segovia </option>
                                    <option value="13"> Rivas </option>
                                    <option value="14"> Carazo </option>
                                    <option value="14"> Rio San Juan </option>
                                </select>
                            </div>

                            <div class="uk-margin">
                                <select onClick='' id='VacantCountry' class='ui fluid search dropdown'>
                                    <option value="1" selected> Nicaragua </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button"><span uk-icon="close"></span> Cancelar</button>
                            <button class="uk-button uk-button-primary" type="submit"><span uk-icon="check"></span> Crear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@* All popups  *@
<div class="row">
    <div id="popup_product"></div>
    <div id="popup_promotions"></div>
    <div id="popup_cupons"></div>
    <div id="popup_royalties"></div>
    <div id="popup_vacants"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        //set date in comerce detail card
        var CreatedAt = $("#CreatedAt").html();
        $("#CreatedAt").html(dateFormat(CreatedAt));

        var ComerceId = $("#ComerceId").val();
        var json_product = "";
        //console.log("\n\nComerceId: " + ComerceId);

        //setPercentField($("#PromotionDescount"));
        //setIntegerField($("#CuponDescount"));

        function load_select_product() {
            var select_product = $("#PromotionProductId");
            select_product.html("");
            select_product.append("<option value='0' disabled>" + " -Seleccionar un Producto- " + "</option>");

            $.each(json_product, (index, value) => {
                select_product.append("<option value=" + value.productId + ">" + value.name + "</option>");
            });

            if (json_product.length > 0) {
                $('#btnAddPromotion').removeAttr("disabled");
            } else {
                $('#btnAddPromotion').attr('disabled')
            }
        }

        function setCurrency() {
            var currencyselected = $("#selectcurrency option:selected").val();
            var currency = $("#currency").val(currencyselected);

            //console.log("Current currency selected: " + currencyselected)
            //console.log("Current currency: " + currency.val())
        }

        //........................................................................................
        //                   load tables details from comerce
        //........................................................................................
        loadProductsTable("getByComerce");
        loadPromotionsTable("getByComerce");
        loadCuponsTable("getByComerce");
        loadVacantsTable("getByComerce");
        loadRoyaltiesTable("getByComerce");
        loadCommentsTable("getByComerce");

        //........................................................................................
        //                   Validations modals forms
        //........................................................................................
        formProduct($("#formProduct"));
        formPromotion($("#formPromotion"));
        formCupon($("#formCupon"));
        formRoyalty($("#formRoyalty"));
        formVacant($("#formVacant"));

    </script>
}


