﻿@model sng_web.Models.Comerce

@{
    ViewData["Title"] = "Editar Comercio";
    var logo = @Model.UrlLogo != null ? (Model.UrlLogo) : "/images/comerce.png";
}
<style>
    .dx-field-label {
        padding: 8px 0px 9px 0;
    }

    /*.dx-radiobutton-checked {
        display: block;
        margin-top: -16px;
        margin-left: 6px;
        width: 10px;
        height: 10px;
        background: url("/images/start.png");
        content: "";
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
    }*/

    
</style>
<div class="container">
    <h2 class="container uk-heading-bullet">Editar <small>Comercio</small></h2>
    <hr />
</div>

<div class="container">
    <div class="uk-card-default uk-card-hover">
        <div class="uk-section uk-section-default ">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ComerceId" />
                <!-- <input type="hidden" id="Longitud" asp-for="Longitude"/>
                <input type="hidden" id="Latitud" asp-for="Latitude"/> -->
                <input type="hidden" value="@ViewBag.Refer" name="Refer" />

                <div class="uk-container">
                    <h3>Reemplazar los campos a editar</h3>
                    <div class="row">
                        <div class="col-md-3" style="margin-right: 0px; margin-left: 0px">
                            <div class="banner-comerce">
                                <img src="@logo" alt="Logo" id="ComerceUrlLogoEdit" class="uk-border-squart logo-comerce" uk-cover>
                                <canvas width="600" height="400"></canvas>
                            </div>
                            <hr />
                            <div class="container">
                                <div class="js-upload" uk-form-custom>
                                    <input asp-for="UrlLogo" id="ComerceUrlLogo" type="file" multiple onchange="readURLComerce(this, 'ComerceUrlLogoEdit')">
                                    <input asp-for="UrlLogo" value="@Model.UrlLogo" type="text" hidden>
                                    <button class="uk-button uk-button-text" tabindex="-1">Seleccionar Logo</button>
                                </div>
                                @*<br /><br />
                        <div class="js-upload" uk-form-custom>
                            <input id="ComerceUrlBanner" type="file" multiple>
                            <button class="uk-button uk-button-default uk-button-small" type="button" tabindex="-1">Seleccionar Banner</button>
                        </div>*@

                            </div>

                        </div>

                        <div class="col-md-8" style="margin-right: 0px; margin-left: 0px">
                            <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                                <div>
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Address" class="control-label"></label>
                                        <textarea cols="20" rows="4" asp-for="Address" class="form-control"></textarea>
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CategoryId" class="control-label"></label>
                                        <select asp-for="CategoryId" id="ComerceCategoryid" class="form-control" asp-items="ViewBag.Categoria"></select>
                                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Latitude" class="control-label"></label>
                                        <input asp-for="Latitude" class="form-control" />
                                        <span asp-validation-for="Latitude" class="text-danger"></span>
                                    </div>

                                </div>

                                <div>
                                    <div class="form-group">
                                        <label asp-for="Ruc" class="control-label"></label>
                                        <input asp-for="Ruc" class="form-control" />
                                        <span asp-validation-for="Ruc" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Phone" class="control-label"></label>
                                        <input asp-for="Phone" class="form-control" />
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <textarea cols="20" rows="4" asp-for="Description" class="form-control"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Longitude" class="control-label"></label>
                                        <input asp-for="Longitude" class="form-control" />
                                        <span asp-validation-for="Longitude" class="text-danger"></span>
                                    </div>
                                    
                                </div>

                                <div>
                                    <div class="form-group">
                                        <label asp-for="UpdatedAt" class="control-label">Última actualización</label>
                                        <input asp-for="UpdatedAt" class="form-control" readonly="@(true)" />
                                        <span asp-validation-for="UpdatedAt" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="CreatedAt" class="control-label"></label>
                                        <input asp-for="CreatedAt" class="form-control" readonly="@(true)" />
                                        <span asp-validation-for="CreatedAt" class="text-danger"></span>
                                    </div>

                                    <div class="form-group" hidden>
                                        <input asp-for="Rating" class="form-control" value="1" hidden />
                                        <div class="dx-field">
                                            <div class="dx-field-label">Puntuación</div>
                                            <br />
                                            <div class="dx-field-value">
                                                <div id="setRating"></div>
                                            </div>
                                        </div>
                                    </div>

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <div class="form-group">
                                            <div class="checkbox checbox-switch switch-primary">
                                                <label class="pull-left ">
                                                    <input asp-for="IsAproved" /> @Html.DisplayNameFor(model => model.IsAproved)
                                                    <span></span>
                                                </label>
                                                @*<br /><br /><br />*@
                                                <label class="pull-left">
                                                    <input asp-for="IsActived" /> @Html.DisplayNameFor(model => model.IsActived)
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group" hidden>
                                            <div class="checkbox checbox-switch switch-primary">
                                                <label class="pull-left ">
                                                    <input asp-for="IsAproved" /> @Html.DisplayNameFor(model => model.IsAproved)
                                                    <span></span>
                                                </label>
                                                @*<br /><br /><br />*@
                                                <label class="pull-left">
                                                    <input asp-for="IsActived" /> @Html.DisplayNameFor(model => model.IsActived)
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    }

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <div class="form-group">
                                            <label asp-for="OwnerId" class="control-label">Propietario</label>
                                            <select asp-for="OwnerId" class="form-control" id="ComerceOwnerId" asp-items="ViewBag.Propietario"></select>
                                            <span asp-validation-for="OwnerId" class="text-danger"></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group" hidden>
                                            <label asp-for="OwnerId" class="control-label">Propietario</label>
                                            <select asp-for="OwnerId" class="form-control" id="ComerceOwnerId" asp-items="ViewBag.Propietario"></select>
                                            <span asp-validation-for="OwnerId" class="text-danger"></span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin-right: 0px; margin-left: 0px">
                            <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
                                <div class="form-group">
                                    <label asp-for="UrlVideo" class="control-label"></label>
                                    <input asp-for="UrlVideo" class="form-control" />
                                    <span asp-validation-for="UrlVideo" class="text-danger"></span>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="mapa" style="width: 100%; height: 400px;margin-top:10px; margin-right:50px"></div>
                        </div>
                        
                    </div>

                    <hr />

                    <div class="row">
                        <div class="container">
                            <div class="form-group">
                                <a href="@ViewBag.Refer" class="uk-button uk-button-default uk-button-small">
                                    <span uk-icon="icon: chevron-left"></span>
                                    Regresar
                                </a>  |
                                <button class="uk-button uk-button-primary uk-button-small" type="submit"><span uk-icon="icon: check"></span> Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script src="https://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyCmIFSPi1MUixnAGikyn-YQP5knGtjowp4"></script>
    <script src="https://cdn.rawgit.com/Logicify/jquery-locationpicker-plugin/master/dist/locationpicker.jquery.min.js"></script>
    <script>
        //getCategories();
        //getOwner();
        setRating();
        //se comenta gerLocation para que desde el formulario se actualice la ubicacion geografica
        //getLocation();

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(useLocation);
            }
        };

        function useLocation(position) {
            //window.location.replace('?longitude=' + position.coords.longitude + '&latitude=' + position.coords.latitude);
            $("#Longitud").val(position.coords.longitude);
            $("#Latitud").val(position.coords.latitude);

            console.log("latitude: " + position.coords.latitude + ", longitud: " + position.coords.longitude);
        };

        $('#mapa').locationpicker({
            enableAutocomplete: true,
            enableReverseGeocode: false,
            radius: 0,
            location: {
                latitude: $('#Latitude').val(),
                longitude: $('#Longitude').val()
            },
            inputBinding: {
                latitudeInput: $('#Longitude'),
                longitudeInput: $('#Latitude')
            },
            onchanged: function (currentLocation, radius, isMarkerDropped) {
                var addressComponents = $(this).locationpicker('map').location.addressComponents;
                updateControls(currentLocation); //Data
                }
            });

        function updateControls(currentLocation) {
            $("#Longitude").val(currentLocation.longitude);
            $("#Latitude").val(currentLocation.latitude);
            console.log(currentLocation);
        }
    </script>

}
