﻿
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model sng_web.Models.UserComerce
@inject SignInManager<ApplicationUser> SignInManager


@{
    ViewData["Title"] = "Registro";
    ViewData["Logo"] = "Save N' Go";

    Layout = "";
}

<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Logo"] | @ViewData["Title"]</title>
    <meta cViewData["Logo"] ontent="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
    <style class="cp-pen-styles">
        *, *:before, *:after {
            box-sizing: border-box;
        }

        html {
            overflow-y: scroll;
        }

        body {
            background: #c1bdba;
            font-family: 'Titillium Web', sans-serif;
        }

        a {
            text-decoration: none;
            color: #1ab188;
            transition: .5s ease;
        }

            a:hover {
                color: #179b77;
            }

        .form {
            background: rgba(19, 35, 47, 0.9);
            padding: 40px;
            max-width: 600px;
            margin: 40px auto;
            border-radius: 4px;
            box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
        }

        .tab-group {
            list-style: none;
            padding: 0;
            margin: 0 0 40px 0;
        }

            .tab-group:after {
                content: "";
                display: table;
                clear: both;
            }

            .tab-group li a {
                display: block;
                text-decoration: none;
                padding: 15px;
                background: rgba(160, 179, 176, 0.25);
                color: #a0b3b0;
                font-size: 20px;
                float: left;
                width: 100%;
                text-align: center;
                cursor: pointer;
                transition: .5s ease;
            }

                .tab-group li a:hover {
                    background: #179b77;
                    color: #ffffff;
                }

            .tab-group .active a {
                background: #1ab188;
                color: #ffffff;
            }

        .tab-content > div:last-child {
            display: none;
        }

        h1 {
            text-align: center;
            color: #ffffff;
            font-weight: 300;
            margin: 0 0 40px;
        }

        h2 {
            text-align: center;
            color: #ffffff;
            font-weight: 200;
            margin: 0 0 40px;
        }

        label {
            position: absolute;
            -webkit-transform: translateY(6px);
            transform: translateY(6px);
            left: 13px;
            color: rgba(255, 255, 255, 0.5);
            transition: all 0.25s ease;
            -webkit-backface-visibility: hidden;
            pointer-events: none;
            font-size: 14px;
        }

            label .req {
                margin: 2px;
                color: #1ab188;
            }

            label.active {
                -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
                left: 2px;
                font-size: 12px;
            }

                label.active .req {
                    opacity: 0;
                }

            label.highlight {
                color: #ffffff;
            }

        input, textarea, select {
            font-size: 22px;
            display: block;
            width: 100%;
            height: 100%;
            padding: 5px 10px;
            background: none;
            background-image: none;
            border: 1px solid #a0b3b0;
            color: #ffffff;
            border-radius: 0;
            transition: border-color .25s ease, box-shadow .25s ease;
        }

            input:focus, textarea:focus, select:focus {
                outline: 0;
                border-color: #1ab188;
            }

        textarea {
            border: 2px solid #a0b3b0;
            resize: vertical;
        }

        select option {
            margin: 40px;
            background: rgba(19, 35, 47, 0.9);
            color: #fff;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        }

        .field-wrap {
            position: relative;
            margin-bottom: 40px;
        }

        .top-row:after {
            content: "";
            display: table;
            clear: both;
        }

        .top-row > div {
            float: left;
            width: 48%;
            margin-right: 4%;
        }

            .top-row > div:last-child {
                margin: 0;
            }

        .button {
            border: 0;
            outline: none;
            border-radius: 0;
            padding: 15px 0;
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: .1em;
            background: #1ab188;
            color: #ffffff;
            transition: all 0.5s ease;
            -webkit-appearance: none;
        }

            .button:hover, .button:focus {
                background: #179b77;
            }

        .button-block {
            display: block;
            width: 100%;
        }

        .forgot {
            margin-top: -20px;
            text-align: right;
        }

        .text-danger {
            color: #e16565;
        }
    </style>
</head>
<body>

    <div class="form">
        <div class="tab-content">
            <div id="signup">
                <h2 style="padding: 10px 20px; background: #1ab188; color: #ffffff;">Datos del comercio</h2>
                <form asp-action="Register" id="register_form">


                    <div class="uk-container">
                        <div class="field-wrap">
                            <label asp-for="Name">Nombre del comercio<span class="req">*</span></label>
                            <input asp-for="Name" required autocomplete="off" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="field-wrap">
                            <label asp-for="Ruc">RUC/NIT<span class="req">*</span></label>
                            <input asp-for="Ruc" required autocomplete="off" />
                            <span asp-validation-for="Ruc" class="text-danger"></span>
                        </div>
                        <div class="field-wrap">
                            <label asp-for="Address">Dirección del comercio<span class="req">*</span></label>
                            <input asp-for="Address" required autocomplete="off" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="field-wrap">
                            <label asp-for="Phone">Teléfono del comercio<span class="req">*</span></label>
                            <input asp-for="Phone" required autocomplete="off" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="field-wrap">
                            <label asp-for="CategoryId" class="active highlight">Categoria del comercio<span class="req">*</span></label>
                            <select asp-for="CategoryId" class="form-control selectpicker" id="ComerceCategoryid" @*onclick="getCategories()" *@ asp-items="ViewBag.CategoryId"></select>

                        </div>
                        <h2 style="padding: 10px 20px; background: #1ab188; color: #ffffff;">Datos del propietario</h2>
                        <div class="field-wrap">
                            <label asp-for="FirstName">Nombre<span class="req">*</span></label>
                            <input asp-for="FirstName" required autocomplete="off" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="field-wrap">
                            <label asp-for="LastName">Apellido<span class="req">*</span></label>
                            <input asp-for="LastName" required autocomplete="off" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="field-wrap">
                            <label asp-for="Email">Email<span class="req">*</span></label>
                            <input asp-for="Email" required autocomplete="off" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="field-wrap">
                            <label asp-for="Password">Contraseña<span class="req">*</span></label>
                            <input id="password" asp-for="Password" required autocomplete="off" />
                            <span id="message" style="color: #8ab0a6 ">
                                La contraseña debe tener al menos 8 caracteres, una letra Mayuscula, una letra Minuscula, un Número y un alfa numérico. Ej: Contraseñ@123
                            </span>
                        </div>
                        <div class="field-wrap">
                            <label asp-for="ConfirmPassword">Confirmar Contraseña<span class="req">*</span></label>
                            <input id="confirmPassword" asp-for="ConfirmPassword" required autocomplete="off" />
                            <span id="confirmmessage" class="text-danger"></span>
                        </div>

                        <input type="hidden" id="Longitud" asp-for="Longitud" value="" style="border: none;" />
                        <input type="hidden" id="Latitud" asp-for="Latitud" value="" style="border: none;" />

                    </div>
                    <button type="submit" class="button button-block">Registrarse</button>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </form>

            </div>

            <div id="login">
                <h1>Welcome Back!</h1>

                <form action="/" method="post">

                    <div class="field-wrap">
                        <label>
                            Email Address<span class="req">*</span>
                        </label>
                        <input type="email" required autocomplete="off" />
                    </div>

                    <div class="field-wrap">
                        <label>
                            Password<span class="req">*</span>
                        </label>
                        <input type="password" required autocomplete="off" />
                    </div>

                    <p class="forgot"><a href="#">Forgot Password?</a></p>

                    <button type="submit" class="button button-block" />Log In</button>

                </form>

            </div>

        </div><!-- tab-content -->

    </div> <!-- /form -->

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            getLocation();
            $('form').submit(function () {
                if(!$("#Longitud").val()) {
                    $("#Longitud").val("0");
                    $("#Latitud").val("0");
                }

                if (!checkPassword($("#password").val())) {
                    $('#message').html('La contraseña debe tener al menos 8 caracteres, una letra Mayuscula, una letra Minuscula, un Número y un alfa numérico. Ej: Contraseñ@123');
                    return false;
                } else 
                    $('#message').html('');
                
                if ($("#password").val() !== $('#confirmPassword').val()) {
                    $('#confirmmessage').html('Confirmar la contraseña');
                    return false;
                } else 
                    $('#confirmmessage').html('');
                
            });
        });

        $('.form').find('input, textarea, select').on('keyup blur focus', function (e) {

            var $this = $(this),
                label = $this.prev('label');

            if (e.type === 'keyup') {
                if ($this.val() === '') {
                    label.removeClass('active highlight');
                } else {
                    label.addClass('active highlight');
                }
            } else if (e.type === 'blur') {
                if ($this.val() === '') {
                    label.removeClass('active highlight');
                } else {
                    label.removeClass('highlight');
                }
            } else if (e.type === 'focus') {

                if ($this.val() === '') {
                    label.removeClass('highlight');
                }
                else if ($this.val() !== '') {
                    label.addClass('highlight');
                }
            }

        });

        $('.form').find('input, textarea, select').each(function () {
            if ($(this).val() != "" && $(this).parent().prop("tagName").toLowerCase() != "form") {
                $(this).parent().find('label').addClass("active highlight");
            }
        });

        $('.tab a').on('click', function (e) {

            e.preventDefault();

            $(this).parent().addClass('active');
            $(this).parent().siblings().removeClass('active');

            target = $(this).attr('href');

            $('.tab-content > div').not(target).hide();

            $(target).fadeIn(600);

        });

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(useLocation);
            }
        };

        function useLocation(position) {
            //window.location.replace('?longitude=' + position.coords.longitude + '&latitude=' + position.coords.latitude);
            $("#Longitud").val(position.coords.longitude);
            $("#Latitud").val(position.coords.latitude);

            console.log("latitude: " + position.coords.latitude + ", longitud: " + position.coords.longitude);
        };

        function checkPassword(str) {
            var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
            return re.test(str);
        }



    </script>
</body>
</html>

