﻿@model sng_web.Models.Product

@{
    ViewData["Title"] = "Edit";
    var UrlImage = @Model.UrlImage != null ? Model.UrlImage : "/images/product.jpg";

}

<div class="container">
    <h2 class="uk-heading-bullet">Editar <small>Producto</small></h2>
    <hr />
</div>
<div class="row">
    <div class="container">
        <div class="">
            <div class="uk-card-default uk-card-hover">
                <div class="uk-section uk-section-default ">

                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ProductId"/>

                        <div class="uk-container">
                            <h3>Reemplazar los campos a editar</h3>
                            <div class="row">
                                <div class="col-sm-12 col-md-8">
                                    <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                                        <div>
                                            <div class="form-group">
                                                <label asp-for="Name" class="control-label"></label>
                                                <input asp-for="Name" class="form-control" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Price" class="control-label"></label>
                                                <div class="row">
                                                    <div class="form-group col-sm-3" style="padding-right: 5px; ">
                                                        <select asp-for="Currency" asp-items="ViewBag.Currency" class="uk-select" id="selectcurrency" style="height: 34px">
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-sm-9" style="padding-left: 0px">
                                                        <input asp-for="Price" class="form-control" type="number" max="99999" min="0" style="float: left" />
                                                    </div>
                                                </div>
                                                <span asp-validation-for="Price" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Description" class="control-label"></label>
                                                <textarea asp-for="Description" class="form-control" rows="4" cols="20"></textarea>
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <div class="form-group">
                                                    <label asp-for="Comerce" class="control-label">Comercio Asignado</label>
                                                    <select asp-for="ComerceId" class="form-control" asp-items="ViewBag.ComerceId"></select>
                                                    <span asp-validation-for="Comerce" class="text-danger"></span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group">
                                                    <input asp-for="ComerceId" type="hidden" />
                                                </div>

                                                <div class="form-group">
                                                    <br />
                                                </div>


                                            }
                                                <div class="form-group">
                                                    <input type="hidden" value="@ViewBag.CreatedAt" name="CreatedAt" />
                                                    <label asp-for="CreatedAt" class="control-label"></label>
                                                    <input asp-for="CreatedAt" readonly="@(true)" class="form-control" />
                                                    <span asp-validation-for="CreatedAt" class="text-danger"></span>
                                                </div>
                                            <div class="form-group">
                                                <label asp-for="UpdatedAt" class="control-label"></label>
                                                <input asp-for="UpdatedAt" readonly="@(true)" class="form-control" />
                                                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox checbox-switch switch-primary">
                                                    <label>
                                                        <input asp-for="IsActived" /> @Html.DisplayNameFor(model => model.IsActived)
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="uk-margin ">
                                        <ul class="uk-thumbnav" uk-margin>
                                            <li class="uk-active">
                                                <a href="#">
                                                    <img id="ProductUrlLogo" class="img-responsive thumbnail" style="max-width: 250px" src="@UrlImage" alt="Banner">
                                                    @*<p>@UrlImage</p>*@
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="js-upload" uk-form-custom style="padding: 20px;">
                                            <input asp-for="UrlImage" id="ProductUrlLogo" type="file" multiple onchange="readURLProduct(this, 'ProductUrlLogo')">
                                            <input asp-for="UrlImage" value="@Model.UrlImage" type="text" hidden>
                                            <button class="uk-button uk-button-default" type="button" tabindex="-1">Seleccionar archivo</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="container">
                                    <input type="hidden" value="@ViewBag.Refer" name="Refer"/>
                                    <div class="form-group">
                                        <a href="@ViewBag.Refer" class="uk-button uk-button-default uk-button-small">
                                            <span uk-icon="icon: chevron-left"></span>
                                            Regresar
                                        </a>  |
                                        <button class="uk-button uk-button-primary uk-button-small" type="submit"><span uk-icon="icon: check"></span> Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    
    </script>
}
