﻿@model IEnumerable<sng_web.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h2 class="uk-heading-bullet" >Productos <small>Registros</small></h2>
    <hr />
</div>

<div class="container">
    <div class="container uk-card-default uk-card-hover">
        <div class="row">
            <br />
            <div class="container">
                <div class="pull-right">
                    <div class="uk-display-inline">
                        <button class="uk-button uk-button-small uk-button-default" onclick="loadProductsTable('getAll');"> <span uk-icon="icon: refresh"></span></button> |
                        <a class="uk-button uk-button-primary uk-button-small" asp-action="Create">
                            <span uk-icon="icon: plus"></span> Nuevo
                        </a>
                    </div>
                </div><br /><br />
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div id="table_products"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="popup_product"></div>

    <div id="new_product" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Nuevo Producto</h2>
            </div>
            <div class="uk-modal-body">
                <form asp-controller="ProductController" id="ProductForm" enctype="multipart/form-data">
                    <div class="col-sm-6">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" type="text" name="ProductName" id="ProductName" placeholder="Nombre del Producto" />
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" type="text" name="ProductDescription" id="ProductDescription" placeholder="Descripción del Producto" />
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" type="text" name="ProductPrice" id="ProductPrice" placeholder="Precio del Producto" />
                            </div>
                        </div>

                        <div class="form-group">
                            <select onClick='' id='ComerceId' class='ui fluid search dropdown'>
                                <option value="0" disabled> -Seleccionar un Comercio- </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="uk-margin">
                            <ul class="uk-thumbnav" uk-margin>
                                <li class="uk-active">
                                    <a href="#">
                                        <img id="ProductBannerIndex" class="img-responsive thumbnail" style="max-width: 250px" src="~/images/no-image.svg" alt="Banner">
                                    </a>
                                </li>
                            </ul>
                            <div class="js-upload" uk-form-custom>
                                <input id="ProductUrlImage" type="file" multiple onchange="readURLProduct(this, 'ProductBannerIndex')">
                                @*<input asp-for="UrlImage" value="@Model.UrlImage" type="text" hidden>*@
                                <button class="uk-button uk-button-default" type="button" tabindex="-1">Seleccionar archivo</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                <button class="uk-button uk-button-primary" type="button" id="upload" onclick="addProduct()">Crear</button>
            </div>
        </div>
    </div>

</div>
<br />


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        loadProductsTable("getAll");
        
        function getComerces() {
            var select_comerce = $("#ComerceId");
            $.ajax({
                type: "GET",
                url: "/Comerces/GetOnlyComerces",
                data: {},
                success: function (response) {
                    json_comerce = (response);
                    select_comerce.html("");
                    select_comerce.append("<option value='0' disabled>" + " -Seleccionar un Comercio- " + "</option>");

                    $.each(json_comerce, (index, value) => {
                        select_comerce.append("<option value=" + value.comerceId + ">" + value.name + "</option>");
                    });
                },
                error: function (err) {
                    console.log("Error: ");
                }
            });
            //console.log("json_comerce");
            //console.log(json_comerce);
        }
        
    </script>
}

